@import '../settings/settings';

@mixin fromBreakpoint($breakpoint) {
	@media screen and (min-width: #{$breakpoint}) {
		@content;
	}
}

@mixin fromBreakpointM {
	@include fromBreakpoint($medium) {
		@content;
	}
}
@mixin fromBreakpointL {
	@include fromBreakpoint($large) {
		@content;
	}
}

@mixin fromBreakpointMax {
	@include fromBreakpoint($max) {
		@content;
	}
}
