<style>
    bnb-icon {
        width: 30px;
        fill: black;
    }
</style>

<ul>
    <li>
        E-Mail: <bnb-icon data-resources="[{paths: ['components/bnb-icon/index.js']}]" icon="email">
        </bnb-icon>
    </li>
    <li>
        facebook: <bnb-icon data-resources="[{paths: ['components/bnb-icon/index.js']}]" icon="facebook">
        </bnb-icon>
    </li>
    <li>
        facebookSmall: <bnb-icon data-resources="[{paths: ['components/bnb-icon/index.js']}]" icon="facebookSmall">
        </bnb-icon>
    </li>
    <li>
        twitter: <bnb-icon data-resources="[{paths: ['components/bnb-icon/index.js']}]" icon="twitter">
        </bnb-icon>
    </li>
    <li>
        twitterSmall: <bnb-icon data-resources="[{paths: ['components/bnb-icon/index.js']}]" icon="twitterSmall">
        </bnb-icon>
    </li>
    <li>
        LinkedIn: <bnb-icon data-resources="[{paths: ['components/bnb-icon/index.js']}]" icon="linkedin">
        </bnb-icon>
    </li>
    <li>
        XING: <bnb-icon data-resources="[{paths: ['components/bnb-icon/index.js']}]" icon="xing">
        </bnb-icon>
    </li>
    <li>
        schriftzug: <bnb-icon data-resources="[{paths: ['components/bnb-icon/index.js']}]" icon="schriftzug">
        </bnb-icon>
    </li>
    <li>
        Bullet: <bnb-icon data-resources="[{paths: ['components/bnb-icon/index.js']}]" icon="bullet">
        </bnb-icon>
    </li>
    <li>
        CALENDAR: <bnb-icon data-resources="[{paths: ['components/bnb-icon/index.js']}]" icon="calendar">
        </bnb-icon>
    </li>
    <li>
        CLOCK: <bnb-icon data-resources="[{paths: ['components/bnb-icon/index.js']}]" icon="clock">
        </bnb-icon>
    </li>
    <li>
        LOGO: <bnb-icon data-resources="[{paths: ['components/bnb-icon/index.js']}]" icon="logo">
        </bnb-icon>
    </li>
    <li>
        playYoutube: <bnb-icon data-resources="[{paths: ['components/bnb-icon/index.js']}]" icon="playYoutube">
        </bnb-icon>
    </li>
    <li>
        PLAY: <bnb-icon data-resources="[{paths: ['components/bnb-icon/index.js']}]" icon="play">
        </bnb-icon>
    </li>
    <li>
        movie: <bnb-icon data-resources="[{paths: ['components/bnb-icon/index.js']}]" icon="movie">
        </bnb-icon>
    </li>
    <li>
        QUOTE: <bnb-icon data-resources="[{paths: ['components/bnb-icon/index.js']}]" icon="quote">
        </bnb-icon>
    </li>
    <li>
        SEARCH: <bnb-icon data-resources="[{paths: ['components/bnb-icon/index.js']}]" icon="search">
        </bnb-icon>
    </li>
    <li>
        SHARE: <bnb-icon data-resources="[{paths: ['components/bnb-icon/index.js']}]" icon="share">
        </bnb-icon>
    </li>
    <li>
        iconsetBnbMedium: <bnb-icon data-resources="[{paths: ['components/bnb-icon/index.js']}]" icon="iconsetBnbMedium">
        </bnb-icon>
    </li>
    <li>
        iconsetHerausforderungBig: <bnb-icon data-resources="[{paths: ['components/bnb-icon/index.js']}]" icon="iconsetHerausforderungBig">
        </bnb-icon>
    </li>
    <li>
        iconsetHerausforderungMedium: <bnb-icon data-resources="[{paths: ['components/bnb-icon/index.js']}]" icon="iconsetHerausforderungMedium">
        </bnb-icon>
    </li>
    <li>
        iconsetLoesungBig: <bnb-icon data-resources="[{paths: ['components/bnb-icon/index.js']}]" icon="iconsetLoesungBig">
        </bnb-icon>
    </li>
    <li>
        iconsetLoesungMedium: <bnb-icon data-resources="[{paths: ['components/bnb-icon/index.js']}]" icon="iconsetLoesungMedium">
        </bnb-icon>
    </li>
    <li>
        iconsetPeopleMedium1: <bnb-icon data-resources="[{paths: ['components/bnb-icon/index.js']}]" icon="iconsetPeopleMedium1">
        </bnb-icon>
    </li>
    <li>
        iconsetPeopleMedium2: <bnb-icon data-resources="[{paths: ['components/bnb-icon/index.js']}]" icon="iconsetPeopleMedium2">
        </bnb-icon>
    </li>
    <li>
        iconsetPeopleSingle: <bnb-icon data-resources="[{paths: ['components/bnb-icon/index.js']}]" icon="iconsetPeopleSingle">
        </bnb-icon>
    </li>
    <li>
        iconsetPeopleSmall1: <bnb-icon data-resources="[{paths: ['components/bnb-icon/index.js']}]" icon="iconsetPeopleSmall1">
        </bnb-icon>
    </li>
    <li>
        iconsetPeopleSmall2: <bnb-icon data-resources="[{paths: ['components/bnb-icon/index.js']}]" icon="iconsetPeopleSmall2">
        </bnb-icon>
    </li>
</ul>