@import 'node_modules/@biotope/element/lib/host.mixin';
@import '../../resources/scss/styles';

@include host('bnb-icon') {
	display: inline-block;
	width: 100px;
	height: 100px;
	// line-height: 0;

	@include slotted('svg') {
		height: 100%;
		width: 100%;
		fill: inherit;
	}
}
