@import 'node_modules/@biotope/element/lib/host.mixin';
@import '../../resources/scss/styles';

@include host('bnb-button-cta') {
	a {
		@include fontCopy();
		display: block;
		min-height: 48px;
		max-width: 250px;
		padding: 5px;
		line-height: 48px;
		text-align: center;
		text-decoration: none;
		transition: all 0.6s ease;
		cursor: pointer;
		border-radius: 35px;

		&:hover {
			transition: all 0.3s ease;
		}
	}
}

@include addAttributeStyles('bnb-button-cta', 'primary') {
	a {
		color: $white;
		background-color: $black;
		border: 2px solid $black;
		&:hover {
			color: $black;
			border: 2px solid $black;
			background-color: $white;
		}
	}
}

@include addAttributeStyles('bnb-button-cta', 'secondary') {
	a {
		color: $black;
		background-color: $white;
		border: 2px solid $black;
		&:hover {
			color: $white;
			background-color: $black;
		}
	}
}

@include addAttributeStyles('bnb-button-cta', 'primary-purple') {
	a {
		color: $white;
		background-color: $purple;
		border: 2px solid $purple;
		&:hover {
			color: $purple;
			border: 2px solid $purple;
			background-color: $white;
		}
	}
}

@include addAttributeStyles('bnb-button-cta', 'secondary-purple') {
	a {
		color: $purple;
		background-color: $white;
		border: 2px solid $purple;
		&:hover {
			color: $white;
			background-color: $purple;
		}
	}
}
