@import 'node_modules/@biotope/element/lib/host.mixin';
@import '../../resources/scss/styles';

$counterPrefix: attr(counter-prefix);
$counterStart: attr(counter-start);

@include host('bnb-list-item') {
	display: block;
	@include fontCopy;

	&:before {
		content: '\2022';
		display: inline-block;
		width: 40px;
		margin-left: 30px;
		margin-right: 5px;
		line-height: 0;
		font-size: 25px;
	}
}

@include addAttributeStyles('bnb-list-item', 'ordered') {
	&::before {
		content: $counterPrefix counter(item) '.';
		counter-increment: item;
		color: inherit;
		font-size: inherit;
		line-height: inherit;
	}
}
@include addAttributeStyles('bnb-list-item', 'counter-prefix') {
	&::before {
		content: $counterPrefix counter(item) '';
		counter-increment: item;
		color: inherit;
		font-size: inherit;
		line-height: inherit;
	}
}
