@import 'node_modules/@biotope/element/lib/host.mixin';
@import '../../resources/scss/styles';

@include host('b-n-b-button-c-t-a') {
	a {
		display: block;
		min-height: 48px;
		max-width: 250px;
		padding: 5px;
		line-height: 48px;
		text-align: center;
		color: black;
		text-decoration: none;
		transition: all 0.6s ease;
		cursor: pointer;

		&:hover {
			transition: all 0.3s ease;
		}
	}
}

@include addAttributeStyles('b-n-b-button-c-t-a', 'primary') {
	a {
		background-color: bisque;
		&:hover {
			background-color: tomato;
		}
	}
}

@include addAttributeStyles('b-n-b-button-c-t-a', 'secondary') {
	a {
		border: 5px solid bisque;
		&:hover {
			border: 5px solid tomato;
		}
	}
}
