@import 'node_modules/@biotope/element/lib/host.mixin';
@import '../../resources/scss/styles';

@include host('bnb-volunteer-form') {
	display: block;

	iframe {
		height: 3100px;

		@media screen and (min-width: 500px) {
			height: 2900px;
		}
		@media screen and (min-width: 600px) {
			height: 2600px;
		}
		@include fromBreakpointM {
			height: 2500px;
		}
		@include fromBreakpointL {
			height: 2400px;
		}
	}
}
