<bnb-cms-text-text heading-left="Die Herausforderung" heading-right="Die Herausforderung"
    data-resources="[{paths: ['components/cms/bnb-cms-text-text/index.js']}]">
    <p slot="left">Wir bringen eine neue Generation von Politiker*innen in die Parlamente. Für echte Demokratie,
        Klimaschutz, soziale Gerechtigkeit und nachhaltiges Wirtschaften in einem vereinten Europa.</p>
    <p slot="right">Wir bringen eine neue Generation von Politiker*innen in die Parlamente. Für echte Demokratie,
        Klimaschutz, soziale Gerechtigkeit und nachhaltiges Wirtschaften in einem vereinten Europa.</p>
</bnb-cms-text-text>