// GLOBAL SASS SETTINGS

// Z-INDEXES
//$z-index-component-xyz: 1;

// COLORS
$black: #000000;
$white: #ffffff;
$yellow: yellow;
$red: red;

$grey: #666;
$grey-light: lighten($grey, 20%);

// BODY STYLES
$body-bg: $white;
$body-font-color: $black;
$body-font-style: normal;
$body-font-size: 17px;
$body-line-height: 25px;
$body-min-width: 300px;

// COMPONENT STYLES
$content-max-width: 1280px;
$component-max-width: 1200px;

// Grid
$grid-gutter: 30px;

// margins for content and sections
$section_content_top: 33px;
$section_margin_top_small: 60px;
$section_margin_top_medium: 60px;
$section_margin_top_large: 60px;
$section_margin_top_xlarge: 80px;

// Input & Select
$input-width: 200px;
