@import '../base/margins';

// GLOBAL SASS SETTINGS

// FONTS
$font-family-regular: Arial, sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 600;

// Z-INDEXES
//$z-index-component-xyz: 1;

// COLORS
$black: #000000;
$white: #f6f6f6;
$yellow: yellow;
$red: red;
$blue: blue;
$green: #00f2a0;
$purple: #7d47ff;
$grey: #3e3948;
$grey-light: #9b9b9b;

// BODY STYLES
$body-bg: $white;
$body-font-color: $black;
$body-font-family: $font-family-regular;
$body-font-weight: $font-weight-normal;
$body-font-style: normal;
$body-font-size: 22px;
$body-line-height: 30px;
$body-min-width: 320px;

// COMPONENT STYLES
$content-max-width: 1440px;
$component-max-width: 1200px;

// breakpoint definitions
$medium: 768px;
$large: 1024px;
$max: 1440px;

// MaxValues
$smallMax: $medium - 1;
$mediumMax: $large - 1;
$xlargeMax: 10000px;

// Grid
$grid-gutter-small: 35px;
$grid-gutter-large: 50px;

// margins for content and sections
$section_content_top: 33px;
$section_margin_top_small: 60px;
$section_margin_top_medium: 60px;
$section_margin_top_large: 60px;

// Input & Select
$select-input-width: 250px;
$min-height: 48px;

//SECTION SIZES
$section-left-width: 600px;
$section-right-width: 600px;
$section-right-icon: 250px;
$component-container-indent-width: calc(
	#{$max} - calc(#{$right-indentation} + #{$margin-left-right-small})
);
