<div style="background-color: gray;">
    <bnb-input required placeholder="Active input" label="Active input"
        data-resources="[{paths: ['components/bnb-input/index.js']}]"></bnb-input>
    <br>
    <bnb-input disabled placeholder="Disabled input" label="Disabled input"
        data-resources="[{paths: ['components/bnb-input/index.js']}]">
    </bnb-input>

</div>