@import 'node_modules/@biotope/element/lib/host.mixin';
@import '../../resources/scss/styles';

@include host('bnb-paragraph') {
	@include fontCopy;
	.leadtext {
		@include fontCopyLead;
		color: $grey;
		font-style: italic;
	}
	.capitalize::first-letter {
		@include fontCopyCapital();
	}

	bnb-paragraph ul {
		// @include slotted('ul') {
		@include unstyled-list;
		color: green;
		// > li {
		&::before {
			content: '-';
		}
		ol {
			counter-reset: level1;
			li {
				&::before {
					counter-increment: level1;
					content: counters(level1, '.') '';
					color: inherit;
					font-size: inherit;
					line-height: inherit;
				}
				ol {
					counter-reset: level2;
					li {
						&::before {
							content: counters(level2, '.') '';
							counter-increment: level2;
							color: inherit;
							font-size: inherit;
							line-height: inherit;
						}
					}
				}
			}
		}
		// }
	}
}
