$font-weight-normal: 400;
$font-weight-bold: 600;
$font-family-regular: 'Helvetica', sans-serif;

@mixin fontHeadlineL() {
	font-family: $font-family-regular;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 52px;
	line-height: 64px;
	$font-weight-normal: 400;
}

@mixin fontHeadlineM() {
	font-family: $font-family-regular;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 34px;
	line-height: 44px;
	$font-weight-normal: 400;
}

@mixin fontHeading() {
	font-family: $font-family-regular;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 24px;
	letter-spacing: 2px;
	$font-weight-normal: 400;
}

@mixin fontCopy() {
	font-family: $font-family-regular;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 22px;
	line-height: 30px;
	$font-weight-normal: 400;
}

@mixin fontCopyInfo() {
	@include fontCopy();
	font-size: 20px;
	line-height: 26px;
	text-align: center;
}

@mixin fontCopyLead() {
	font-family: $font-family-regular;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 25px;
	line-height: 30px;
}

@mixin fontCopyCapital() {
	text-transform: uppercase;
	float: left;
	font-size: 105px;
	line-height: 1;
	padding-right: 5px;
}
