$font-weight-normal: 400;
$font-weight-bold: 600;
$font-family-regular: 'Helvetica', sans-serif;

@mixin fontHeadlineL() {
  font-family: $font-family-regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
  line-height: 35px;
  font-style: italic;
  font-weight: $font-weight-bold;

  @include fromBreakpointM {
    font-size: 35px;
    line-height: 40px;
  }
}

@mixin fontHeadlineM() {
  font-family: $font-family-regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 25px;
  line-height: 30px;
  font-style: italic;
  font-weight: $font-weight-normal;
  @include fromBreakpointM {
    font-size: 30px;
    line-height: 35px;
  }
}

@mixin fontHeadlineS() {
  @include fontCopy();
  font-weight: $font-weight-bold;
}

@mixin fontCopy() {
  font-family: $font-family-regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  line-height: 28px;
}

@mixin fontCopyLead() {
  font-family: $font-family-regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 25px;
  line-height: 30px;
}

@mixin fontCopyCapital() {
  text-transform: uppercase;
  float: left;
  font-size: 105px;
  line-height: 1;
  padding-right: 5px;
}
