@import 'node_modules/@biotope/element/lib/host.mixin';
@import '../../resources/scss/styles';

@include host('bnb-error-message') {
	display: block;
	p {
		color: red;
		font-weight: $font-weight-bold;
		font-size: 10px;
		width: $select-input-width;
		text-align: center;
		margin: 0;
	}
}
