<bnb-paragraph capitalize data-resources="[{paths: ['components/bnb-paragraph/index.js']}]">
    Lorem ipsum dolor
    sit amet,
    consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
    diam voluptua.
    At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
    Lorem ipsum dolor sit amet. Lorem ipsum dolor
    sit amet,
    consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
    diam voluptua.
    At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
    Lorem ipsum dolor sit amet.</bnb-paragraph>
<bnb-paragraph data-resources="[{paths: ['components/bnb-paragraph/index.js']}]">
    Lorem ipsum dolor
    sit amet,
    consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
    diam voluptua.
    At vero eos et <u>accusam et justo duo dolores</u> et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
    est
    Lorem ipsum dolor sit amet. <b>Lorem ipsum dolor</b>
    sit amet,
    consetetur sadipscing elitr, sed diam nonumy eirmod tempor <i>invidunt ut labore et dolore magna</i> aliquyam erat,
    sed
    diam voluptua.
    At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
    Lorem ipsum dolor sit amet.
    <ul>
        <li>Lorem</li>
        <li>ipsum
            <ol>
                <li>dolor</li>
                <li>sit
                    <ol>
                        <li>dolor</li>
                        <li>sit</li>
                    </ol>
                </li>
            </ol>
        </li>
        <li>amet</li>
        <li>rebum
            <ul>
                <li>consectetur</li>
                <li>adipisicing</li>
            </ul>
        </li>
    </ul>
    elit. Cumque dolorum sint itaque eveniet quo
    <ol>
        <li>alias</li>
        <li>illum
            <ul>
                <li>adipisci</li>
                <li>neque</li>
            </ul>
        </li>
        <li>dolorem</li>
        <li>eveniet
            <ol>
                <li>culpa</li>
                <li>commodi</li>
            </ol>
        </li>
    </ol>
</bnb-paragraph>