@import 'node_modules/@biotope/element/lib/host.mixin';
@import '../../resources/scss/styles';

@include host('bnb-radio') {
	.input__wrapper {
		display: flex;
		align-items: center;
		@include fontCopy();
	}

	input[type='radio'] {
		cursor: pointer;
	}

	input[type='radio'] + label {
		position: relative;
		padding-left: 10px;
		line-height: $min-height;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
	}
}
