@import 'node_modules/@biotope/element/lib/host.mixin';
@import '../../resources/scss/styles';

@include host('bnb-select') {
	display: flex;
	@include fontCopy;
	label {
		line-height: calc(#{$line-height-font-copy} + 5px);
		width: 50%;
	}
	select {
		@include fontCopy;
		width: 100%;
		min-width: $select-input-width;
		line-height: calc(#{$line-height-font-copy} + 5px);
		height: 48px;
		border: 1px solid $grey;
		border-radius: 35px;
		-webkit-border-radius: 35px;
		-moz-border-radius: 35px;
		-webkit-appearance: none;
		padding: 0 20px;

		&:focus {
			outline: none;
			box-shadow: 0 0 3px 2px $purple;
		}
	}
	bnb-error-message {
		display: none;

		&.error {
			display: block;
		}
	}
}
@include addAttributeStyles('bnb-select', 'purple') {
	select,
	label {
		color: $purple;
		border-color: $purple;
	}

	select {
		&:focus {
			outline: none;
			box-shadow: 0 0 3px 2px $grey;
		}
	}
}
