@import 'node_modules/@biotope/element/lib/host.mixin';
@import '../../../resources/scss/styles';

@include host('bnb-cms-info-box') {
	display: flex;
	justify-content: center;
	background-color: $purple;
	width: 100%;
	margin-bottom: 100px;

	.list-container {
		width: 100%;
		@include cmsComponents();
		flex-wrap: wrap;

		bnb-headline {
			display: block;
		}
	}
}
