@import 'node_modules/@biotope/element/lib/host.mixin';
@import '../../../resources/scss/styles';

@include host('bnb-cms-sub-stage') {
	display: block;
	background-color: $white;
	margin: 0 auto;

	bnb-image {
		height: 300px;
		width: 100vw;
	}

	.stage-text-container,
	.stage-text-container-left,
	.stage-text-container-right,
	.stage-text-paragraph {
		display: flex;
		flex-direction: column;
	}

	.stage-text-container {
		background-color: white;
		max-width: $max;
		padding: 0 $margin-left-right-small;
		padding-bottom: 50px;
	}

	.stage-text-paragraph {
		@include slotted('bnb-paragraph') {
			padding-bottom: 100px;
		}
	}

	@include fromBreakpointM {
		bnb-image {
			height: 400px;
		}
	}

	@include fromBreakpointL {
		bnb-image {
			height: 500px;
		}
		.stage-text-container {
			padding: 0 $margin-left-right-medium;
			padding-bottom: 100px;
		}
	}

	@include fromBreakpointMax {
		margin-bottom: 100px;

		.stage-text-container {
			background-color: transparent;
			flex-direction: row;
			justify-content: space-between;
			padding: 0 $margin-left-right-max 50px 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: 0 auto;
			margin-top: -80px;
			flex-direction: row;
			max-width: $max;

			.stage-text-container-left {
				background-color: white;
				width: $component-container-indent-width;
				padding: 0 $margin-left-right-max;
				.h1 {
					margin-bottom: 20px;
				}
			}
		}
	}
}
