<style>
    body {
        background-color: #f6f6f6;
    }
</style>
<bnb-cms-text-icon icon="iconsetPeopleMedium2" heading="Unsere Mission"
    button='{"value":"Jetzt mitmachen!", "url":"https://www.google.com", "target":"_blank", "version":"primary"}'
    data-resources="[{paths: ['components/cms/bnb-cms-text-icon/index.js']}]">
    <bnb-headline slot="headline">
        Nominiere die besten Kandidat*innen!</bnb-headline>
    <bnb-paragraph slot="text">
        Du kennst jemanden, der unsere Forderungen teilt, sich politisch engagieren und etwas verändern möchte? Dann
        nominiere
        deinen Favoriten!
        <br>
        <br>
        Wir sind auf der Suche nach Kandidat*innen aus der Gesellschaft und offen für jede*n, der*die unsere Werte
        vertritt. Wir
        nehmen mit jede*m Nominierte*m Kontakt auf, um zu prüfen, ob Interesse an einer Kandidatur besteht. Außerdem
        fragen wir
        weitere Informationen ab. Die Entscheidung über die Kandidaten trifft eine Expertenjury.
    </bnb-paragraph>
</bnb-cms-text-icon>
<bnb-cms-text-icon icon="iconsetHerausforderungBig" heading="Unsere forderungen"
    button='{"value":"Unsere Forderungen im Detail", "url":"claims.html", "version":"primary"}'
    data-resources="[{paths: ['components/cms/bnb-cms-text-icon/index.js']}]">
    <bnb-headline slot="headline">
        Politik für die breite Gesellschaft – für dich und Mich!</bnb-headline>
    <bnb-paragraph slot="text">
        Wir fordern, dass Politik wieder für die gemacht wird, für die sie bestimmt ist: Für dich und mich. Für uns
        alle. Wir
        streben dabei eine Gesellschaft an, die demokratisch und inklusiv ausgerichtet ist, die nachhaltig denkt und
        dabei lokal
        wie global in Aktion tritt.
        <bnb-list>
            <bnb-paragraph>Unsere Forderungen sind:
            </bnb-paragraph>
            <bnb-list-item>In Bezug auf die Klimakrise: <br>
                “Wir sind Erdlinge. Und möchten hier bleiben.”</bnb-list-item>
            <bnb-list-item>In Bezug auf Soziale Gerechtigkeit: <br>
                “Lasst uns das Beste aus unserem <a href="https://google.com">Zusammenleben</a> machen.”
            </bnb-list-item>
            <bnb-list-item>In Bezug auf Nachhaltiges Wirtschaften: <br>
                “Zeit für WIRtschaft”</bnb-list-item>
            <bnb-list-item>In Bezug auf Europa: <br>
                “Gestärkt als vereinte und vernetzte Solidargemeinschaft”</bnb-list-item>
        </bnb-list>
    </bnb-paragraph>
</bnb-cms-text-icon>
<bnb-cms-text-icon icon="iconsetHerausforderungBig" copy-text
    data-resources="[{paths: ['components/cms/bnb-cms-text-icon/index.js']}]">
    <bnb-paragraph slot="text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia ipsam officia est vero placeat quibusdam quam
        obcaecati eos molestiae tempore, sunt nam sed nesciunt assumenda, corrupti pariatur quae quasi minus.
    </bnb-paragraph>
</bnb-cms-text-icon>

<bnb-cms-text-icon icon="iconsetHerausforderungBig" heading="Nominiere die besten Kandidat*innen!"
    data-resources="[{paths: ['components/cms/bnb-cms-text-icon/index.js']}]"
    button='{ "disabled":"true", "value":"Schlage jetzt dein*e Kandidat*in vor", "url":"contact.html", "target":"_blank", "version":"primary"}'>
    <bnb-headline slot="headline">
        Wenn du einen Menschen kennst, der unsere Forderungen teilt und wirklich etwas verändern will, dann nominiere
        sie*ihn!</bnb-headline>
    <bnb-paragraph slot="text">Wir suchen nach Kandidat*innen aus allen Teilen der Bevölkerung. Wir suchen insbesondere
        Menschen aus gesellschaftlichen
        Gruppen, die im Bundestag bisher unterrepräsentiert sind. Einzige Bedingung: Jede*r Kandidat*in muss für eine
        progressive Demokratie brennen und Lust auf Veränderung haben.</bnb-paragraph>
</bnb-cms-text-icon>