@import 'node_modules/@biotope/element/lib/host.mixin';
@import '../../resources/scss/styles.scss';

@include host('bnb-headline') {
	h3 {
		display: block;
		@include fontHeading();
		margin: 43px 0 16px 0;
	}
}
@include addAttributeStyles('bnb-headline', 'white') {
	h3 {
		color: white;
	}
}
@include addAttributeStyles('bnb-headline', 'purple') {
	h3 {
		color: $purple;
	}
}
