@import 'node_modules/@biotope/element/lib/host.mixin';
@import '../../resources/scss/styles.scss';

@include host('bnb-headline') {
	display: block;
	h3 {
		@include fontHeading();
		margin: 40px 0 20px 0;
	}
}
@include addAttributeStyles('bnb-headline', 'color=white') {
	h3 {
		color: white;
	}
}
@include addAttributeStyles('bnb-headline', 'color=purple') {
	h3 {
		color: $purple;
	}
}
