@import 'node_modules/@biotope/element/lib/host.mixin';
@import '../../resources/scss/styles';

@include host('bnb-follow') {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 175px;

	.link-wrapper {
		position: relative;
		display: flex;
		align-items: center;
		margin: 0 auto;
		a {
			position: absolute;
			width: 38px;
			height: 38px;
			margin: 0;
		}
		@include slotted('bnb-icon') {
			fill: $grey;
			height: 38px;
			width: 38px;
			transition: all 0.6s ease;
		}
		@include hoverDevicesOnly {
			&:hover {
				@include slotted('bnb-icon') {
					transition: all 0.6s ease;
					fill: $grey-light;
				}
			}
		}
	}
}

@include addAttributeStyles('bnb-follow', 'color=light') {
	.link-wrapper a:focus {
		outline: none;
		box-shadow: 0 0 3px 2px $grey-light;
	}
	@include slotted('bnb-icon') {
		fill: $grey-light;
	}
	@include hoverDevicesOnly {
		.link-wrapper:hover {
			@include slotted('bnb-icon') {
				fill: $grey;
			}
		}
	}
}

@include addAttributeStyles('bnb-follow', 'color=footer') {
	.link-wrapper a:focus {
		outline: none;
		box-shadow: 0 0 3px 2px $grey-light;
	}
	@include slotted('bnb-icon') {
		fill: $grey-light;
	}
	@include hoverDevicesOnly {
		.link-wrapper:hover {
			@include slotted('bnb-icon') {
				fill: $white;
			}
		}
	}
}
