@import 'node_modules/@biotope/element/lib/host.mixin';
@import '../../../resources/scss/styles';

@include host('bnb-cms-contact') {
	display: flex;
	flex-direction: column;

	.contact {
		&__wrapper {
			@include cmsComponents();
		}

		&__text,
		&__inputs {
			margin: $margin-top-bottom-regular 0;
			bnb-headline {
				display: block;
				margin-bottom: 30px;
			}
		}

		@include fromBreakpointMax {
			&__wrapper {
				display: flex;
				justify-content: space-between;
			}
			&__text {
				width: $section-left-width;
				margin-right: $margin-left-right-max;
				flex-shrink: 0;
				bnb-paragraph:first-child {
					padding-top: 40px;
				}
			}
			&__inputs {
				width: $section-right-width;

			}
		}
	}
}
