@import '../utilities/unstyledList';

$list-indentation: 20px;

ul {
	@include unstyled-list;
	& > li {
		&::before {
			content: '-';
			margin-right: 15px;
			margin-left: $list-indentation;
		}
	}

	ol {
		margin-left: $list-indentation;
		ol {
			margin-left: 0;
			padding-left: $list-indentation;
		}
	}
}

ol {
	counter-reset: item;
	margin-top: 0;
	margin-bottom: 0;

	ul {
		margin-left: 0;
		li::before {
			margin-left: 0;
		}
	}
}

ol > li {
	counter-increment: item;
}

ol ol > li {
	display: block;
}

ol ol {
	padding-left: $list-indentation;
	> li {
		&:before {
			content: counters(item, '.') '. ';
			margin-left: -20px;
		}
	}
}
