@import '../utilities/unstyledList';

$first-level-indention: 20px;
$second-level-indention: 20px;
ul {
	@include unstyled-list;
	> li {
		&::before {
			content: '-';
			margin-right: 15px;
			margin-left: $first-level-indention;
		}
	}

	ol {
		counter-reset: section;
		li {
			padding-left: 2px;

			ol {
				padding-left: $first-level-indention;
				color: green;
				counter-reset: item;
				li {
					&:before {
						counter-increment: item;
						content: counter(section) '.' counter(item) ' ';
						color: inherit;
						font-size: inherit;
						line-height: inherit;
					}
				}
			}
		}
	}
}

ol {
	ul {
		@include unstyled-list;
		> li {
			&::before {
				content: '-';
				margin-left: 0;
			}
		}
	}
	ol {
		padding-left: $first-level-indention;
	}
}
