/**
 * Global margin definitions
 *
 * Use margin-top wherever possible.
 * The usage of margin-bottom is only allowed for critical workarounds, e.g. lists inside multi-column layouts
 */

$margin-left-right-small: 30px;
$margin-left-right-medium: 50px;

$margin-top-bottom-regular: 50px;
$margin-top-bottom-large: 70px;

$element-spacing-large: 50px;
$right-indentation: 118px;

$padding-right-large: 70px;
