<style>
    body {
        margin: 0;
        background-color: #f6f6f6;
    }
</style>
<bnb-cms-navigation page="about-us" data-resources="[{paths: ['components/cms/bnb-cms-navigation/index.js']}]"></bnb-cms-navigation>
<bnb-cms-stage heading="sei dabei" image='{"src":"../_assets/img/stage.jpg", "title":"Stage Image", "objectFit":"cover", "objectPosition":"bottom", "srcset":[{"src":"../_assets/img/stage_300.jpeg", "width":300},
            {"src":"../_assets/img/stage_600.jpeg", "width":600},
            {"src":"../_assets/img/stage_1024.jpeg", "width":1024},
            {"src":"../_assets/img/stage_1440.jpeg", "width":1440},
            {"src":"../_assets/img/stage_1920.jpeg", "width":1920}]}' icon="tripleIconset"
    button-left='{"version":"primary", "value":"Ich bin dabei!", "url":"get-started.html"}'
    data-resources="[{paths: ['components/cms/bnb-cms-stage/index.js']}]">
    <bnb-headline slot="headline">Engagiere dich bei uns!
        Werde Freiwillige*r Helfer bei Brand New Bundestag.</bnb-headline>
    <bnb-paragraph slot="text">Je mehr wir sind, desto mehr Gewicht haben wir. Unterstütze uns aktiv ehrenamtlich bei
        dir vor Ort oder als
        Botschafter*in für unsere Bewegung.</bnb-paragraph>
</bnb-cms-stage>
<bnb-cms-text-icon icon="tripleIconset" heading="Unsere forderungen"
    button='{"value":"Unsere Forderungen im Detail", "url":"claims.html", "version":"primary"}'
    data-resources="[{paths: ['components/cms/bnb-cms-text-icon/index.js']}]">
    <bnb-headline slot="headline">
        Politik für die breite Gesellschaft – für Dich und Mich!</bnb-headline>
    <bnb-paragraph slot="text">
        Wir fordern, dass Politik wieder für die gemacht wird, für die sie bestimmt ist: Für Dich und mich. Für uns
        alle. Wir
        streben dabei eine Gesellschaft an, die demokratisch und inklusiv ausgerichtet ist, die nachhaltig denkt und
        dabei lokal
        wie global in Aktion tritt.
        <bnb-list>
            <bnb-paragraph>Unsere Forderungen sind:
            </bnb-paragraph>
            <bnb-list-item>In Bezug auf die Klimakrise: <br>
                “Wir sind Erdlinge. Und möchten hier bleiben.”</bnb-list-item>
            <bnb-list-item>In Bezug auf Soziale Gerechtigkeit: <br>
                “Lasst uns das Beste aus unserem <a href="https://google.com">Zusammenleben</a> machen.”
            </bnb-list-item>
            <bnb-list-item>In Bezug auf Nachhaltiges Wirtschaften: <br>
                “Zeit für WIRtschaft”</bnb-list-item>
            <bnb-list-item>In Bezug auf Europa: <br>
                “Gestärkt als vereinte und vernetzte Solidargemeinschaft”</bnb-list-item>
        </bnb-list>
    </bnb-paragraph>
</bnb-cms-text-icon>
<bnb-cms-text-image heading="Unsere Forderungen" image='{"src":"../_assets/img/testbild.jpg", "title":"Testbild 16:9", "objectFit":"cover", "objectPosition":"center", "srcset":[{"src":"../_assets/img/testbild_300.jpeg", "width":300},
		    {"src":"../_assets/img/testbild_600.jpeg", "width":600},
		    {"src":"../_assets/img/testbild_1024.jpeg", "width":1024},
		    {"src":"../_assets/img/testbild_1440.jpeg", "width":1440},
		    {"src":"../_assets/img/testbild_1920.jpeg", "width":1920}]}'
    data-resources="[{paths: ['components/cms/bnb-cms-text-image/index.js']}]">
    Wir fordern dass Politik wieder für die gemacht wird, für die sie
    bestimmt ist: für Dich, für mich, für alle.
    <bnb-paragraph slot="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
        invidunt ut labore et dolore
        magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
        gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor.</bnb-paragraph>
</bnb-cms-text-image>
<bnb-cms-text-image horizontal heading="Unsere Forderungen" image='{"src":"../_assets/img/stage.jpg", "title":"Testbild 16:9", "objectFit":"cover", "objectPosition":"center", "srcset":[{"src":"../_assets/img/testbild_300.jpeg", "width":300},
		    {"src":"../_assets/img/stage_600.jpeg", "width":600},
		    {"src":"../_assets/img/stage_1024.jpeg", "width":1024},
		    {"src":"../_assets/img/stage_1440.jpeg", "width":1440},
		    {"src":"../_assets/img/stage_1920.jpeg", "width":1920}]}'
    data-resources="[{paths: ['components/cms/bnb-cms-text-image/index.js']}]">
    Test horizontales Bild, lorem ipsum
    <bnb-paragraph slot="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
        invidunt ut labore et dolore
        magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
        gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor.</bnb-paragraph>
</bnb-cms-text-image>
<bnb-cms-partner heading="Unsere partner" data-resources="[{paths: ['components/cms/bnb-cms-partner/index.js']}]">
</bnb-cms-partner>
<bnb-cms-newsletter-form data-resources="[{paths: ['components/cms/bnb-cms-newsletter-form/index.js']}]">
</bnb-cms-newsletter-form>
<bnb-cms-footer data-resources="[{paths: ['components/cms/bnb-cms-footer/index.js']}]"></bnb-cms-footer>