<style>
    body {
        margin: 0;
        background-color: #f6f6f6;
    }
</style>
<bnb-cms-navigation data-resources="[{paths: ['components/cms/bnb-cms-navigation/index.js']}]"></bnb-cms-navigation>
<bnb-cms-sub-stage heading="Datenschutzbestimmungen" icon="iconsetPeopleMedium2" image='{"src":"../../_assets/img/stage.jpg", "title":"Testbild 16:9", "objectFit":"cover", "objectPosition":"bottom", "srcset":[{"src":"../../_assets/img/stage_300.jpeg", "width":300},
    {"src":"../../_assets/img/stage_600.jpeg", "width":600},
    {"src":"../../_assets/img/stage_1024.jpeg", "width":1024},
    {"src":"../../_assets/img/stage_1440.jpeg", "width":1440},
    {"src":"../../_assets/img/stage_1920.jpeg", "width":1920}]}'
    data-resources="[{paths: ['components/cms/bnb-cms-sub-stage/index.js']}]">Datenschutzerklärung der Wir für Zukunft
    eG i. Gr.
    <bnb-paragraph slot="text" />Datenschutz ist uns wichtig, daher findest
    Du hier unsere Datenschutzbestimmungen
    </bnb-paragraph>
</bnb-cms-sub-stage>
<bnb-cms-text-icon icon="iconsetPeopleMedium2" copy-text
    data-resources="[{paths: ['components/cms/bnb-cms-text-icon/index.js']}]">
    <bnb-paragraph slot="text">
        <bnb-headline level="2"></bnb-headline>
        <bnb-list ordered data-resources="[{paths: ['components/bnb-list/index.js']}]">
            <bnb-headline level="2">§ 1 Information über die Erhebung personenbezogener Daten</bnb-headline>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Im Folgenden informieren
                wir über die Erhebung personenbezogener Daten bei Nutzung unserer Website. Personenbezogene
                Daten sind alle Daten, die auf Sie persönlich beziehbar sind, z. B. Name, Adresse, E-Mail-Adressen,
                Nutzerverhalten.</bnb-list-item>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Diese Website enthält Links
                zu anderen Websites. Diese Datenschutzerklärung gilt nur für diese Website. Wir sind
                nicht verantwortlich für die Datenschutzpraktiken oder den Inhalt der verlinkten Websites. Für weitere
                Informationen
                lesen Sie bitte deren eigene Datenschutzerklärungen.
            </bnb-list-item>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Verantwortlicher gem. Art.
                4 Abs. 7 EU-Datenschutz-Grundverordnung (DS-GVO) ist die <b>Wir für Zukunft eG i. Gr.</b>
                (nachfolgend „BNB“), c/o Daniel Veldhoen, Dreimühlenstr. 29, 80469 München.</bnb-list-item>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Bei Ihrer Kontaktaufnahme
                mit uns per E-Mail (team@brandnewbundestag.de) oder über ein Kontaktformular werden die
                von Ihnen mitgeteilten Daten (Ihre E-Mail-Adresse, ggf. Ihr Name und Ihre Telefonnummer) von uns
                gespeichert, um Ihre
                Fragen zu beantworten. Die in diesem Zusammenhang anfallenden Daten löschen wir, nachdem die Speicherung
                nicht mehr
                erforderlich ist, oder schränken die Verarbeitung ein, falls gesetzliche Aufbewahrungspflichten
                bestehen.</bnb-list-item>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Falls wir für einzelne
                Funktionen unseres Angebots auf beauftragte Dienstleister zurückgreifen oder Ihre Daten für
                werbliche Zwecke nutzen möchten, werden wir Sie untenstehend im Detail über die jeweiligen Vorgänge
                informieren. Dabei
                nennen wir auch die festgelegten Kriterien der Speicherdauer.</bnb-list-item>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Eine Erläuterung der
                verwendeten rechtlichen Fachbegriffe der DS-GVO finden Sie am Ende dieser Datenschutzerklärung.
            </bnb-list-item>
        </bnb-list>
        <bnb-list ordered data-resources="[{paths: ['components/bnb-list/index.js']}]">
            <bnb-headline level="2">§ 2 Allgemeines zur Datenverarbeitung</bnb-headline>
            <bnb-headline level="3">Umfang der Verarbeitung personenbezogener Daten</bnb-headline>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Wir verarbeiten
                personenbezogene Daten unserer Nutzer grundsätzlich nur, soweit dies zur Bereitstellung einer
                funktionsfähigen Website sowie unserer Inhalte und Leistungen erforderlich ist. Die Verarbeitung
                personenbezogener Daten
                unserer Nutzer erfolgt regelmäßig nur nach Einwilligung des Nutzers. Eine Ausnahme gilt in solchen
                Fällen, in denen eine
                vorherige Einholung einer Einwilligung aus tatsächlichen Gründen nicht möglich ist und die Verarbeitung
                der Daten durch
                gesetzliche Vorschriften gestattet ist.</bnb-list-item>
            <bnb-headline level="3">Übersicht der Rechtsgrundlagen der Verarbeitung</bnb-headline>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Art. 6 I lit. a DS-GVO
                dient uns als Rechtsgrundlage für Verarbeitungsvorgänge, bei denen wir eine Einwilligung für
                einen bestimmten Verarbeitungszweck einholen.
            </bnb-list-item>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Ist die Verarbeitung
                personenbezogener Daten zur Erfüllung eines Vertrags, dessen Vertragspartei die betroffene Person
                ist, erforderlich, wie dies beispielsweise bei Verarbeitungsvorgängen der Fall ist, die für eine
                Lieferung von Waren
                oder die Erbringung einer sonstigen Leistung oder Gegenleistung notwendig sind, so beruht die
                Verarbeitung auf Art. 6 I
                lit. b DS-GVO. Gleiches gilt für solche Verarbeitungsvorgänge die zur Durchführung vorvertraglicher
                Maßnahmen
                erforderlich sind, etwa in Fällen von Anfragen von Leistungen.
            </bnb-list-item>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Unterliegt unser BNB einer
                rechtlichen Verpflichtung durch welche eine Verarbeitung von personenbezogenen Daten
                erforderlich wird, wie beispielsweise zur Erfüllung steuerlicher Pflichten, so basiert die Verarbeitung
                auf Art. 6 I
                lit. c DS-GVO.</bnb-list-item>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">In seltenen Fällen könnte
                die Verarbeitung von personenbezogenen Daten erforderlich werden, um lebenswichtige Interessen
                der betroffenen Person oder einer anderen natürlichen Person zu schützen. Dies wäre beispielsweise der
                Fall, wenn ein
                Besucher in unserem Betrieb verletzt werden würde und daraufhin sein Name, sein Alter, seine
                Krankenkassendaten oder
                sonstige lebenswichtige Informationen an einen Arzt, ein Krankenhaus oder sonstige Dritte weitergegeben
                werden müssten.
                Dann würde die Verarbeitung auf Art. 6 I lit. d DS-GVO beruhen.</bnb-list-item>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Letztlich könnten
                Verarbeitungsvorgänge auf Art. 6 I lit. f DS-GVO beruhen. Auf dieser Rechtsgrundlage basieren
                Verarbeitungsvorgänge, die von keiner der vorgenannten Rechtsgrundlagen erfasst werden, wenn die
                Verarbeitung zur
                Wahrung eines berechtigten Interesses von BNB oder eines Dritten erforderlich ist, sofern die
                Interessen, Grundrechte
                und Grundfreiheiten des Betroffenen nicht überwiegen. Solche Verarbeitungsvorgänge sind uns insbesondere
                deshalb
                gestattet, weil sie durch den Europäischen Gesetzgeber besonders erwähnt wurden. Er vertrat insoweit die
                Auffassung,
                dass ein berechtigtes Interesse anzunehmen sein könnte, wenn die betroffene Person ein Kunde des
                Verantwortlichen ist
                (Erwägungsgrund 47 Satz 2 DS-GVO). Basiert die Verarbeitung personenbezogener Daten auf Artikel 6 I lit.
                f DS-GVO ist
                unser berechtigtes Interesse die Durchführung unserer Geschäftstätigkeit zugunsten des Wohlergehens all
                unserer
                Mitarbeiter.
            </bnb-list-item>
            <bnb-headline level="3">Datenlöschung und Speicherdauer</bnb-headline>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Die personenbezogenen Daten
                der betroffenen Person werden gelöscht oder gesperrt, sobald der Zweck der Speicherung
                entfällt. Eine Speicherung kann darüber hinaus erfolgen, wenn dies durch den europäischen oder
                nationalen Gesetzgeber in
                unionsrechtlichen Verordnungen, Gesetzen oder sonstigen Vorschriften, denen der Verantwortliche
                unterliegt, vorgesehen
                wurde. Eine Sperrung oder Löschung der Daten erfolgt auch dann, wenn eine durch die genannten Normen
                vorgeschriebene
                Speicherfrist abläuft, es sei denn, dass eine Erforderlichkeit zur weiteren Speicherung der Daten für
                einen
                Vertragsabschluss oder eine Vertragserfüllung besteht.
            </bnb-list-item>
        </bnb-list>
        <bnb-list ordered data-resources="[{paths: ['components/bnb-list/index.js']}]">
            <bnb-headline level="2">§ 3 Bereitstellung der Website und Erstellung von Logfiles</bnb-headline>
            <bnb-headline level="3">Beschreibung und Umfang der Datenverarbeitung</bnb-headline>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Bei jedem Aufruf unserer
                Internetseite erfasst unser System automatisiert Daten und Informationen vom Computersystem des
                aufrufenden Rechners. Folgende Daten werden hierbei erhoben:
                <bnb-list ordered counter-start="1" counter-prefix="1"
                    data-resources="[{paths: ['components/bnb-list/index.js']}]">
                    <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Informationen über
                        den Browsertyp und die verwendete Version</bnb-list-item>
                    <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Das Betriebssystem
                        des Nutzers</bnb-list-item>
                    <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Den
                        Internet-Service-Provider des Nutzers</bnb-list-item>
                    <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Die IP-Adresse des
                        Nutzers</bnb-list-item>
                    <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Datum und Uhrzeit
                        des Zugriffs</bnb-list-item>
                    <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Websites, von denen
                        das System des Nutzers auf unsere Internetseite gelangt</bnb-list-item>
                    <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Websites, die vom
                        System des Nutzers über unsere Website aufgerufen werden</bnb-list-item>
                </bnb-list>
            </bnb-list-item>
        </bnb-list>
        <bnb-list ordered counter-start="2" data-resources="[{paths: ['components/bnb-list/index.js']}]">
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Die Daten werden ebenfalls
                in den Logfiles unseres Systems gespeichert. Nicht hiervon betroffen sind die IP-Adressen des
                Nutzers oder andere Daten, die die Zuordnung der Daten zu einem Nutzer ermöglichen. Eine Speicherung
                dieser Daten
                zusammen mit anderen personenbezogenen Daten des Nutzers findet nicht statt.
            </bnb-list-item>
            <bnb-headline level="3">Rechtsgrundlage für die Datenverarbeitung</bnb-headline>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Rechtsgrundlage für die
                vorübergehende Speicherung der Daten und der Logfiles ist Art. 6 Abs. 1 lit. f DSGVO. Die
                vorübergehende Speicherung der IP-Adresse durch das System ist notwendig, um eine Auslieferung der
                Website an den
                Rechner des Nutzers zu ermöglichen. Hierfür muss die IP-Adresse des Nutzers für die Dauer der Sitzung
                gespeichert
                bleiben. Die Speicherung in Logfiles erfolgt, um die Funktionsfähigkeit der Website sicherzustellen.
                Zudem dienen uns
                die Daten zur Optimierung der Website und zur Sicherstellung der Sicherheit unserer
                informationstechnischen Systeme.
                Eine Auswertung der Daten zu Marketingzwecken findet in diesem Zusammenhang nicht statt. In diesen
                Zwecken liegt auch
                unser berechtigtes Interesse an der Datenverarbeitung nach Art. 6 Abs. 1 lit. f DSGVO.
            </bnb-list-item>
            <bnb-headline level="3">Zweck der Datenverarbeitung</bnb-headline>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Der Zweck der Erstellung
                von Logfiles ist die Nutzung von Websites für die Nutzer zu vereinfachen und die Stabilität der
                Websiteanzeige zu gewährleisten.</bnb-list-item>
            <bnb-headline level="3">Dauer der Speicherung</bnb-headline>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Die Daten werden gelöscht,
                sobald sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr erforderlich sind. Im
                Falle der Erfassung der Daten zur Bereitstellung der Website ist dies der Fall, wenn die jeweilige
                Sitzung beendet ist.
                Im Falle der Speicherung der Daten in Logfiles ist dies nach spätestens sieben Tagen der Fall. Eine
                darüberhinausgehende
                Speicherung ist möglich. In diesem Fall werden die IP-Adressen der Nutzer gelöscht oder verfremdet,
                sodass eine
                Zuordnung des aufrufenden Clients nicht mehr möglich ist.</bnb-list-item>
            <bnb-headline level="3">Widerspruchs- und Beseitigungsmöglichkeit</bnb-headline>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Die Erfassung der Daten zur
                Bereitstellung der Website und die Speicherung der Daten in Logfiles ist für den Betrieb der
                Internetseite zwingend erforderlich. Es besteht folglich seitens des Nutzers keine
                Widerspruchsmöglichkeit.
            </bnb-list-item>
        </bnb-list>
        <bnb-list ordered data-resources="[{paths: ['components/bnb-list/index.js']}]">
            <bnb-headline level="2">§ 4 Kontaktformular und E-Mail-Kontakt</bnb-headline>
            <bnb-headline level="3">Beschreibung und Umfang der Datenverarbeitung</bnb-headline>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Auf unserer Internetseite
                ist ein Kontaktformular vorhanden, welches für die elektronische Kontaktaufnahme genutzt
                werden kann. Nimmt ein Nutzer diese Möglichkeit wahr, so werden die in der Eingabemaske eingegeben Daten
                an uns
                übermittelt und gespeichert. Diese Daten sind:
                <bnb-list ordered counter-start="1" counter-prefix="1"
                    data-resources="[{paths: ['components/bnb-list/index.js']}]">
                    <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Die IP-Adresse des
                        Nutzers</bnb-list-item>
                    <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Datum und Uhrzeit
                        des Registrierung</bnb-list-item>
                </bnb-list>
                <br>
                Für die Verarbeitung der Daten wird im Rahmen des Absendevorgangs Ihre Einwilligung eingeholt und auf
                diese
                Datenschutzerklärung verwiesen. Alternativ ist eine Kontaktaufnahme über die bereitgestellte
                E-Mail-Adresse möglich. In
                diesem Fall werden die mit der E-Mail übermittelten personenbezogenen Daten des Nutzers gespeichert.
            </bnb-list-item>
        </bnb-list>
        <bnb-list ordered counter-start="2" data-resources="[{paths: ['components/bnb-list/index.js']}]">
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Es erfolgt in diesem
                Zusammenhang keine Weitergabe der Daten an Dritte. Die Daten werden ausschließlich für die
                Verarbeitung der Konversation verwendet.
            </bnb-list-item>
            <bnb-headline level="3">Rechtsgrundlage für die Datenverarbeitung</bnb-headline>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Rechtsgrundlage für die
                Verarbeitung der Daten ist bei Vorliegen einer Einwilligung des Nutzers Art. 6 Abs. 1 lit. a
                DSGVO.
            </bnb-list-item>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Rechtsgrundlage für die
                Verarbeitung der Daten, die im Zuge einer Übersendung einer E-Mail übermittelt werden, ist Art.
                6 Abs. 1 lit. f DSGVO. Zielt der E-Mail-Kontakt auf den Abschluss eines Vertrages ab, so ist zusätzliche
                Rechtsgrundlage
                für die Verarbeitung Art. 6 Abs. 1 lit. b DSGVO.
            </bnb-list-item>
            <bnb-headline level="3">Zweck der Datenverarbeitung</bnb-headline>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Die Verarbeitung der
                personenbezogenen Daten aus der Eingabemaske dient uns allein zur Bearbeitung der Kontaktaufnahme.
                Im Falle einer Kontaktaufnahme per E-Mail liegt hieran auch das erforderliche berechtigte Interesse an
                der Verarbeitung
                der Daten. Die sonstigen während des Absendevorgangs verarbeiteten personenbezogenen Daten dienen dazu,
                einen Missbrauch
                des Kontaktformulars zu verhindern und die Sicherheit unserer informationstechnischen Systeme
                sicherzustellen.
            </bnb-list-item>
            <bnb-headline level="3">Dauer der Speicherung</bnb-headline>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Die Daten werden gelöscht,
                sobald sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr erforderlich sind. Für
                die personenbezogenen Daten aus der Eingabemaske des Kontaktformulars und diejenigen, die per E-Mail
                übersandt wurden,
                ist dies dann der Fall, wenn die jeweilige Konversation mit dem Nutzer beendet ist. Beendet ist die
                Konversation dann,
                wenn sich aus den Umständen entnehmen lässt, dass der betroffene Sachverhalt abschließend geklärt ist.
                Die während des
                Absendevorgangs zusätzlich erhobenen personenbezogenen Daten werden spätestens nach einer Frist von
                sieben Tagen
                gelöscht.
            </bnb-list-item>
            <bnb-headline level="3">Widerspruchs- und Beseitigungsmöglichkeit</bnb-headline>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Der Nutzer hat jederzeit
                die Möglichkeit, seine Einwilligung zur Verarbeitung der personenbezogenen Daten zu widerrufen.
                Nimmt der Nutzer per E-Mail-Kontakt mit uns auf, so kann er der Speicherung seiner personenbezogenen
                Daten jederzeit
                widersprechen. In einem solchen Fall kann die Konversation nicht fortgeführt werden. Alle
                personenbezogenen Daten, die
                im Zuge der Kontaktaufnahme gespeichert wurden, werden in diesem Fall gelöscht.
            </bnb-list-item>
        </bnb-list>
        <bnb-list ordered data-resources="[{paths: ['components/bnb-list/index.js']}]">
            <bnb-headline level="2">§ 5 Newsletter</bnb-headline>
            <bnb-headline level="3">Beschreibung und Umfang der Datenverarbeitung</bnb-headline>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Auf unserer Internetseite
                besteht die Möglichkeit einen kostenfreien Newsletter zu abonnieren. Dabei werden bei der
                Anmeldung zum Newsletter die Daten aus der Eingabemaske an uns übermittelt. Zudem werden folgende Daten
                bei der
                Anmeldung erhoben:
                <bnb-list ordered counter-start="1" counter-prefix="1"
                    data-resources="[{paths: ['components/bnb-list/index.js']}]">
                    <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">IP-Adresse des
                        aufrufenden Rechners</bnb-list-item>
                    <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Datum und Uhrzeit
                        des Registrierung</bnb-list-item>
                    <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Vor- und Nachname
                    </bnb-list-item>
                </bnb-list>
                <br>
                Für die Verarbeitung der Daten wird im Rahmen des Anmeldevorgangs Ihre Einwilligung eingeholt und auf
                diese
                Datenschutzerklärung verwiesen. Es erfolgt im Zusammenhang mit der Datenverarbeitung für den Versand von
                Newslettern
                keine Weitergabe der Daten an Dritte. Die Daten werden ausschließlich für den Versand des Newsletters
                verwendet.
            </bnb-list-item>
        </bnb-list>
        <bnb-list ordered counter-start="2" data-resources="[{paths: ['components/bnb-list/index.js']}]">
            <bnb-headline level="3">Rechtsgrundlage für die Datenverarbeitung</bnb-headline>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Rechtsgrundlage für die
                Verarbeitung der Daten nach Anmeldung zum Newsletter durch den Nutzer ist bei Vorliegen einer
                Einwilligung des Nutzers Art. 6 Abs. 1 lit. a DSGVO.
            </bnb-list-item>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Soweit wir einen
                Dienstleister mit dem Versand von E-Mails beauftragen, geschieht dies auf der Grundlage unserer
                berechtigten Interessen. Das Registrierungsverfahren wird auf der Grundlage unserer berechtigten
                Interessen
                aufgezeichnet, um nachzuweisen, dass es in Übereinstimmung mit dem Gesetz durchgeführt wurde.
            </bnb-list-item>
            <bnb-headline level="3">Zweck der Datenverarbeitung</bnb-headline>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Die Erhebung der
                E-Mail-Adresse des Nutzers dient dazu, den Newsletter zuzustellen. Die Erhebung sonstiger
                personenbezogener Daten im Rahmen des Anmeldevorgangs dient dazu, einen Missbrauch der Dienste oder der
                verwendeten
                E-Mail-Adresse zu verhindern. Des Weiteren dient der Newsletter dem Direktmarketing
            </bnb-list-item>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Wir weisen Sie darauf hin,
                dass wir bei Versand des Newsletters Ihr Nutzerverhalten auswerten. Für diese Auswertung
                beinhalten die versendeten E-Mails sogenannte Web-Beacons bzw. Tracking-Pixel, die Ein-Pixel-Bilddateien
                darstellen, die
                auf unserer Website gespeichert sind. Für die Auswertungen verknüpfen wir die in Abs. 1 genannten Daten
                und die
                Web-Beacons mit Ihrer E-Mail-Adresse und einer individuellen ID. Auch im Newsletter erhaltene Links
                enthalten diese ID.
                Die Daten werden ausschließlich pseudonymisiert erhoben, die IDs werden also nicht mit Ihren weiteren
                persönlichen Daten
                verknüpft, eine direkte Personenbeziehbarkeit wird ausgeschlossen.
            </bnb-list-item>
            <bnb-headline level="3">Dauer der Speicherung</bnb-headline>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Die Daten werden gelöscht,
                sobald sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr erforderlich sind. Die
                E-Mail-Adresse des Nutzers wird demnach solange gespeichert, wie das Abonnement des Newsletters aktiv
                ist. Die sonstigen
                im Rahmen des Anmeldevorgangs erhobenen personenbezogenen Daten werden in der Regel nach einer Frist von
                sieben Tagen
                gelöscht.
            </bnb-list-item>
            <bnb-headline level="3">Widerspruchs- und Beseitigungsmöglichkeit</bnb-headline>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Ihre Einwilligung in
                Verarbeitung ihrer Daten können Sie jederzeit widerrufen und den Newsletter abbestellen. Den
                Widerruf können Sie durch Klick auf den in jeder Newsletter-E-Mail bereitgestellten Link, über dieses
                <bnb-link value="Formular" url="/contact.html"
                    data-resources="[{paths: ['components/bnb-link/index.js']}]">
                </bnb-link> der Webseite, per E-Mail an <a
                    href="mailto:team@brandnewbundestag.de">team@brandnewbundestag.de</a> oder durch eine Nachricht an
                die im Impressum angegebenen
                Kontaktdaten erklären.
            </bnb-list-item>
            <bnb-headline level="3">Eingesetzte Dienste und Diensteanbieter</bnb-headline>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Zur Versendung des
                Newsletters setzten wir den Dienst Mailchimp als E-Mail-Marketing-Plattform ein. Der dahinterstehende
                Dienstanbieter ist „Mailchimp“ – Rocket Science Group, LLC, 675 Ponce De Leon Ave NE #5000, Atlanta, GA
                30308, USA.
                <bnb-link value="Website (externer Link)" target="_blank" url="https://mailchimp.com"
                    data-resources="[{paths: ['components/bnb-link/index.js']}]">
                </bnb-link>; <bnb-link value="Datenschutzerklärung (externer Link)" target="_blank"
                    url="https://mailchimp.com/legal/privacy/"
                    data-resources="[{paths: ['components/bnb-link/index.js']}]">
                </bnb-link>.
            </bnb-list-item>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Die Gewährleistung des
                Datenschutzniveaus bei Verarbeitung von Daten in den USA ergibt sich aus der Privacy
                Shield-Zertifizierung von <bnb-link value="Mailchimp (externer Link)" target="_blank"
                    url="https://www.privacyshield.gov/participant?id=a2zt0000000TO6hAAG&status=Active"
                    data-resources="[{paths: ['components/bnb-link/index.js']}]"></bnb-link>.
            </bnb-list-item>
        </bnb-list>
        <bnb-list ordered data-resources="[{paths: ['components/bnb-list/index.js']}]">
            <bnb-headline level="2">§ 6 Sonstige Plugins und eingebettete Funktionen sowie Inhalte von Google Ireland
                Limited</bnb-headline>
            <bnb-headline level="3">Beschreibung, Umfang und Zweck der Datenverarbeitung</bnb-headline>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Wir setzen innerhalb
                unseres Onlineangebotes Inhalts- oder Serviceangebote von Google Ireland Limited ein, um deren
                Inhalte und Services, wie z.B. Videos oder Schriftarten einzubinden (nachfolgend einheitlich bezeichnet
                als “Inhalte”).
            </bnb-list-item>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Dies setzt immer voraus,
                dass die Drittanbieter dieser Inhalte, die IP-Adresse der Nutzer wahrnehmen, da sie ohne die
                IP-Adresse die Inhalte nicht an deren Browser senden könnten. Die IP-Adresse ist damit für die
                Darstellung dieser
                Inhalte erforderlich. Wir bemühen uns nur solche Inhalte zu verwenden, deren jeweilige Anbieter die
                IP-Adresse lediglich
                zur Auslieferung der Inhalte verwenden.</bnb-list-item>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Drittanbieter können ferner
                so genannte Pixel-Tags (unsichtbare Grafiken, auch als „Web Beacons“ bezeichnet) für
                statistische oder Marketingzwecke verwenden. Durch die „Pixel-Tags“ können Informationen, wie der
                Besucherverkehr auf
                den Seiten dieser Website ausgewertet werden. Die pseudonymen Informationen können ferner in Cookies auf
                dem Gerät der
                Nutzer gespeichert werden und unter anderem technische Informationen zum Browser und Betriebssystem,
                verweisende
                Webseiten, Besuchszeit sowie weitere Angaben zur Nutzung unseres Onlineangebotes enthalten, als auch mit
                solchen
                Informationen aus anderen Quellen verbunden werden können.</bnb-list-item>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Daneben setzten wir
                ReCaptcha ein, welches für uns die Verhaltensangaben der Nutzer (z.B. Mausbewegungen oder Abfragen)
                auswertet, um Menschen von Bots unterscheiden zu können.</bnb-list-item>
            <bnb-headline level="3">Rechtsgrundlage für die Datenverarbeitung</bnb-headline>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Sofern wir die Nutzer um
                deren Einwilligung in den Einsatz der Drittanbieter bitten, ist die Rechtsgrundlage der
                Verarbeitung von Daten die Einwilligung (Art. 6 Abs. 1 lit. a DSGVO). Ansonsten werden die Daten der
                Nutzer auf
                Grundlage unserer berechtigten Interessen (d.h. Interesse an effizienten, wirtschaftlichen und
                empfängerfreundlichen
                Leistungen) verarbeitet (Art. 6 Abs. 1 lit. f DSGVO). In diesem Zusammenhang möchten wir Sie auch auf
                die Informationen
                zur Verwendung von Cookies in dieser Datenschutzerklärung hinweisen.</bnb-list-item>
            <bnb-headline level="3">Eingesetzte Dienste und Diensteanbieter</bnb-headline>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Bei der Eingabe von
                Formularen setzten wir den Dienst ReCaptcha zur Erkennung von Bots ein. Zur Implementierung von
                Videos setzten wir den Dienst YouTube ein. Der dahinterstehende Dienstanbieter ist „Google Ireland
                Limited“, Gordon
                House, Barrow Street, Dublin 4, Irland, Mutterunternehmen: Google LLC, 1600 Amphitheatre Parkway,
                Mountain View, CA
                94043, USA.
                <bnb-link value="Website (externer Link)" target="_blank"  url="https://www.google.com/recaptcha/"
                    data-resources="[{paths: ['components/bnb-link/index.js']}]">
                </bnb-link>; <bnb-link value="Datenschutzerklärung (externer Link)" target="_blank"
                    url="https://policies.google.com/privacy"
                    data-resources="[{paths: ['components/bnb-link/index.js']}]">
                </bnb-link>.
            </bnb-list-item>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Die Gewährleistung des
                Datenschutzniveaus bei Verarbeitung von Daten in den USA ergibt sich aus der jeweiligen Privacy
                <bnb-link value="Shield-Zertifizierung (externer Link)" target="_blank"
                    url="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&status=Active"
                    data-resources="[{paths: ['components/bnb-link/index.js']}]"></bnb-link>.
            </bnb-list-item>
            <bnb-headline level="3">Widerspruchs- und Beseitigungsmöglichkeit</bnb-headline>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Google bietet ein <bnb-link
                    value="Opt-Out-Plugin (externer Link)" target="_blank"  url="http://tools.google.com/dlpage/gaoptout?hl=de"
                    data-resources="[{paths: ['components/bnb-link/index.js']}]">
                </bnb-link> sowie besondere Einstellungen für die
                Darstellung von <bnb-link value="Werbeeinblendungen (externer Link)" target="_blank"
                    url="https://adssettings.google.com/authenticated"
                    data-resources="[{paths: ['components/bnb-link/index.js']}]">
                </bnb-link> als Widerspruchsmöglichkeit an.
            </bnb-list-item>
        </bnb-list>
        <bnb-list ordered data-resources="[{paths: ['components/bnb-list/index.js']}]">
            <bnb-headline level="2">§ 7 Betrieb einer Facebook-Fanpage</bnb-headline>
            <bnb-headline level="3">Beschreibung und Umfang der Datenverarbeitung</bnb-headline>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Im Rahmen des Besuchs
                unserer <bnb-link value="Facebook-Fanpage (externer Link)" target="_blank"
                    url="https://www.facebook.com/BrandNewBundestag/"
                    data-resources="[{paths: ['components/bnb-link/index.js']}]">
                </bnb-link> können von Facebook Daten
                über Sie durch Cookies erhoben werden, unabhängig davon, ob Sie ein Facebook-Konto besitzen oder nicht.
                Cookies werden
                von Facebook vor allem gesetzt, um den Besuchern der Facebook-Webseiten, darunter auch einer Fanpage,
                personalisierte
                Werbung anzeigen zu können. Dies geschieht dadurch, dass dem Nutzer auf Facebook Anzeigen von
                Werbepartnern von Facebook
                angezeigt werden, deren Webseiten der Nutzer zuvor besucht hat. Daneben ermöglichen es Cookies,
                Statistiken über die
                Nutzung einer Fanpage zu erstellen, sodass Facebook und wir die Nutzung einer Fanpage nachvollziehen
                können.
            </bnb-list-item>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Verarbeitete Daten sind
                Bestandsdaten (z.B. Namen, Adressen), Kontaktdaten (z.B. E-Mail, Telefonnummern), Inhaltsdaten
                (z.B. Texteingaben, Fotografien, Videos), Nutzungsdaten (z.B. besuchte Webseiten, Interesse an Inhalten,
                Zugriffszeiten)
                sowie Meta-/Kommunikationsdaten (z.B. Geräte-Informationen, IP-Adressen).</bnb-list-item>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Ihre Daten können durch die
                Cookies von Facebook an Facebook Inc. in den USA weitergegeben werden. Facebook ist für den
                EU-US-Privacy-Shield zertifiziert, d.h. Facebook muss Nutzern in Europa gegenüber einen
                Datenschutzstandard einhalten,
                der von der Europäischen Kommission für mit dem europäischen Standard vergleichbar befunden wurde.
            </bnb-list-item>
            <bnb-headline level="3">Rechtsgrundlage für die Datenverarbeitung</bnb-headline>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Rechtsgrundlage für diese
                Datenverarbeitung sind unsere berechtigten Interessen (Art. 6 Abs. 1 lit. f DSGVO).</bnb-list-item>
            <bnb-headline level="3">Zweck der Datenverarbeitung</bnb-headline>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Zweck und Umfang der
                Datenerhebung und die weitere Verarbeitung und Nutzung der Daten durch Facebook sowie die
                diesbezüglichen Rechte und Einstellungsmöglichkeiten zum Schutz der Privatsphäre der Nutzer, können Sie
                den
                Datenschutzhinweisen von Facebook und der
                <bnb-link value="Datenschutz-Richtlinie (externer Link)" target="_blank"  url="https://www.facebook.com/about/privacy"
                    data-resources="[{paths: ['components/bnb-link/index.js']}]">
                </bnb-link> von Facebook
                entnehmen.
            </bnb-list-item>
            <bnb-headline level="3">Gemeinsame Verantwortlichkeit, Dauer der Speicherung</bnb-headline>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Wir haben mit Facebook die
                gem. Art. 26 Abs. 1 S. 2 DS-GVO zwischen gemeinsamen Verantwortlichen verpflichtende
                Vereinbarung (sog. „Controller Addendum“) getroffen, in der insbesondere die datenschutzrechtlichen
                Verpflichtungen und
                die Umsetzung von Betroffenenrechten vereinbart sind. Diese Vereinbarung kann auf der Website von
                <bnb-link value="Facebook (externer Link)" target="_blank"  url="https://www.facebook.com/help/contact/308592359910928"
                    data-resources="[{paths: ['components/bnb-link/index.js']}]"></bnb-link> oder per Post bei der
                soeben angegebenen Adresse erreichen.
            </bnb-list-item>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Als Betreiber dieser
                Fanpage sind auch wir Verantwortlicher im Sinne des Datenschutzrechts. Dies bedeutet, dass auch wir
                dafür einstehen müssen, dass Ihre Daten über diese Fanpage rechtmäßig verarbeitet werden und dass Sie
                Ihre Rechte
                bezüglich Ihrer Daten auch gegenüber uns ausüben können. Verantwortliche für die Datenverarbeitung sind
                im Wege der
                gemeinsamen Verantwortlichkeit (gem. Art. 26 Abs. 1 S.1 DS-GVO) wir gemeinsam mit der Facebook Ireland
                Ltd., 4 Grand
                Canal Square, Grand Canal Harbour, Dublin 2, Irland. Sie können Facebook über ihr <bnb-link
                    value="Kontaktformular (externer Link)" target="_blank"
                    url="https://www.facebook.com/legal/terms/page_controller_addendum"
                    data-resources="[{paths: ['components/bnb-link/index.js']}]"></bnb-link> abgerufen werden.
            </bnb-list-item>
            <bnb-headline level="3">Widerspruchs- und Beseitigungsmöglichkeit</bnb-headline>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Ihre Betroffenenrechte
                können Sie sowohl gegenüber Facebook als auch gegenüber uns geltend machen. Wir sind durch das
                Controller Addendum verpflichtet diese Anfragen unverzüglich, spätestens jedoch innerhalb von 7
                Kalendertagen, an
                Facebook weiterzuleiten. Deshalb möchten wir Sie darauf hinweisen, dass im Fall von Auskunftsanfragen
                und der
                Geltendmachung von Betroffenenrechten, diese am effektivsten direkt bei Facebook geltend gemacht werden
                können. Nur
                Facebook hat unmittelbaren Zugriff auf Ihre Daten und kann direkt entsprechende Maßnahmen ergreifen und
                Auskünfte geben.
                Für eine Kontaktaufnahme zu Facebook nutzen Sie am besten das bereits genannte Kontaktformular von
                Facebook.
            </bnb-list-item>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Für die Betroffenen besteht
                die Möglichkeit die Verknüpfung der erhobenen Daten mit einschlägigen Werbeinhalten durch
                Facebook einzuschränken. Dazu kann diese von Facebook angebotene <bnb-link
                    value="Opt-Out-Möglichkeit (externer Link)" target="_blank"
                    url="https://www.facebook.com/ads/preferences/?entry_product=ad_settings_screen"
                    data-resources="[{paths: ['components/bnb-link/index.js']}]">
                </bnb-link> herangezogen werden.
            </bnb-list-item>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Sie können ferner Ihre
                eigenen Facebook – Daten direkt bei Facebook herunterladen (Herunterladen des sog. „erweiterten
                Archivs“ in Ihren Account – Einstellungen).
            </bnb-list-item>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Die Gewährleistung des
                Datenschutzniveaus bei Verarbeitung von Daten in den USA ergibt sich aus der Privacy
                Shield-Zertifizierung von <bnb-link value="Facebook (externer Link)" target="_blank"
                    url="https://www.privacyshield.gov/participant?id=a2zt0000000GnywAAC"
                    data-resources="[{paths: ['components/bnb-link/index.js']}]">
                </bnb-link> herangezogen werden.
            </bnb-list-item>
        </bnb-list>
        <bnb-list ordered data-resources="[{paths: ['components/bnb-list/index.js']}]">
            <bnb-headline level="2">§ 10 Ihre Rechte</bnb-headline>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Unter der
                Datenschutz-Grundverordnung stehen Ihnen die unten genannten Rechte zu. Bitte haben Sie dafür
                Verständnis,
                dass einzelne Rechte in bestimmten Fällen eingeschränkt sein können. Sollte dies der Fall sein, werden
                wir Ihnen den
                Grund hierfür mitteilen.
                <bnb-headline level="3">Recht auf Widerruf (Art. 7 Abs. 3 DS-GVO)</bnb-headline>
                Sie haben nach Art. 7 Abs. 3 DS-GVO das Recht, Ihre Einwilligung jederzeit zu widerrufen.
                <bnb-headline level="3">Recht auf Auskunft (Art. 15 DS-GVO)</bnb-headline>
                Sie können Auskunft gemäß Art. 15 DS-GVO über Ihre von uns verarbeiteten personenbezogenen Daten
                verlangen. In Ihrem
                Auskunftsantrag sollten Sie Ihr Anliegen präzisieren, um uns das Zusammenstellen der erforderlichen
                Daten zu
                erleichtern. Bitte beachten Sie, dass Ihr Auskunftsrecht unter bestimmten Umständen gemäß der
                gesetzlichen Vorschriften
                eingeschränkt sein kann.
                <bnb-headline level="3">Recht auf Berichtigung (Art. 16 DS-GVO)</bnb-headline>
                Sollten die Sie betreffenden Angaben nicht (mehr) zutreffend sein, können Sie nach Art. 16 DS-GVO eine
                Berichtigung
                verlangen. Sollten Ihre Daten unvollständig sein, können Sie eine Vervollständigung verlangen.
                <bnb-headline level="3">Recht auf Löschung (Art. 17 DS-GVO)</bnb-headline>
                Sie können unter den Bedingungen des Art. 17 DS-GVO die Löschung Ihrer personenbezogenen Daten
                verlangen. Ihr Anspruch
                auf Löschung hängt u. a. davon ab, ob die Sie betreffenden Daten von uns zur Erfüllung einer rechtlichen
                Verpflichtung
                noch benötigt werden.
                <bnb-headline level="3">Recht auf Einschränkung der Datenverarbeitung (Art. 18 DS-GVO)</bnb-headline>
                Sie haben im Rahmen der Vorgaben des Art. 18 DS-GVO das Recht, eine Einschränkung der Verarbeitung der
                Sie betreffenden
                Daten zu verlangen.
                <bnb-headline level="3">Recht auf Datenübertragbarkeit (Art. 20 DS-GVO)</bnb-headline>
                Sie haben nach Art. 20 DS-GVO das Recht, Ihre Daten, die Sie uns bereitgestellt haben, in einem
                strukturierten, gängigen
                und maschinenlesbaren Format zu erhalten.
                <bnb-headline level="3">Recht auf Widerspruch (Art. 21 DS-GVO)</bnb-headline>
                Sie haben nach Art. 21 DS-GVO das Recht, jederzeit der Verarbeitung der Sie betreffenden Daten zu
                widersprechen, sofern
                wir Ihre Daten aufgrund von Art. 6 Abs. 1 lit. e oder f DS-GVO verarbeiten oder sofern wir Ihre Daten
                verarbeiten, um
                Direktwerbung zu betreiben.
            </bnb-list-item>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Für die Ausübung Ihrer in
                Abs. 1 bezeichneten Rechte wenden Sie sich bitte an die unter § 1 Abs. 4 genannte
                Kontaktadresse.</bnb-list-item>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Wenn Sie der Auffassung
                sind, dass wir bei der Verarbeitung Ihrer Daten datenschutzrechtliche Vorschriften nicht
                beachtet haben, können Sie sich nach Art. 77 DS-GVO mit einer Beschwerde an die zuständige
                Aufsichtsbehörde wenden.
                Zuständige Datenschutzbehörde ist <bnb-link
                    value="Der Hamburgische Beauftragte für Datenschutz und Informationsfreiheit (externer Link)" target="_blank"
                    url="https://datenschutz-hamburg.de" data-resources="[{paths: ['components/bnb-link/index.js']}]">
                </bnb-link>, Ludwig-Erhard-Straße 22, 20459 Hamburg.
            </bnb-list-item>
        </bnb-list>
        <bnb-headline level="2">§ 11 Begriffsbestimmungen</bnb-headline>
        <bnb-headline level="3">a) personenbezogene Daten</bnb-headline>
        <bnb-paragraph>Diese Datenschutzerklärung verwendet Begrifflichkeiten der (DS-GVO) verwendet wurden, die im
            nachfolgenden aufgeführt
            werden, um die Lesbarkeit und Verständlichkeit zu gewährleisten.</bnb-paragraph>
        </bnb-list>
        <bnb-headline level="3">b) betroffene Person</bnb-headline>
        <bnb-paragraph>Betroffene Person ist jede identifizierte oder identifizierbare natürliche Person, deren
            personenbezogene Daten von dem
            für die Verarbeitung Verantwortlichen verarbeitet werden.</bnb-paragraph>
        <bnb-headline level="3">c) Verarbeitung</bnb-headline>
        <bnb-paragraph>Verarbeitung ist jeder mit oder ohne Hilfe automatisierter Verfahren ausgeführte Vorgang oder
            jede solche Vorgangsreihe
            im Zusammenhang mit personenbezogenen Daten wie das Erheben, das Erfassen, die Organisation, das Ordnen, die
            Speicherung, die Anpassung oder Veränderung, das Auslesen, das Abfragen, die Verwendung, die Offenlegung
            durch
            Übermittlung, Verbreitung oder eine andere Form der Bereitstellung, den Abgleich oder die Verknüpfung, die
            Einschränkung, das Löschen oder die Vernichtung.</bnb-paragraph>
        <bnb-headline level="3">d) Einschränkung der Verarbeitung</bnb-headline>
        <bnb-paragraph>Einschränkung der Verarbeitung ist die Markierung gespeicherter personenbezogener Daten mit dem
            Ziel, ihre künftige
            Verarbeitung einzuschränken.</bnb-paragraph>
        <bnb-headline level="3">e) Profiling</bnb-headline>
        <bnb-paragraph>Profiling ist jede Art der automatisierten Verarbeitung personenbezogener Daten, die darin
            besteht, dass diese
            personenbezogenen Daten verwendet werden, um bestimmte persönliche Aspekte, die sich auf eine natürliche
            Person
            beziehen, zu bewerten, insbesondere, um Aspekte bezüglich Arbeitsleistung, wirtschaftlicher Lage,
            Gesundheit,
            persönlicher Vorlieben, Interessen, Zuverlässigkeit, Verhalten, Aufenthaltsort oder Ortswechsel dieser
            natürlichen
            Person zu analysieren oder vorherzusagen.</bnb-paragraph>
        <bnb-headline level="3">f) Pseudonymisierung</bnb-headline>
        <bnb-paragraph>Pseudonymisierung ist die Verarbeitung personenbezogener Daten in einer Weise, auf welche die
            personenbezogenen Daten
            ohne Hinzuziehung zusätzlicher Informationen nicht mehr einer spezifischen betroffenen Person zugeordnet
            werden können,
            sofern diese zusätzlichen Informationen gesondert aufbewahrt werden und technischen und organisatorischen
            Maßnahmen
            unterliegen, die gewährleisten, dass die personenbezogenen Daten nicht einer identifizierten oder
            identifizierbaren
            natürlichen Person zugewiesen werden.</bnb-paragraph>
        <bnb-headline level="3">g) Verantwortlicher oder für die Verarbeitung Verantwortlicher</bnb-headline>
        <bnb-paragraph>Verantwortlicher oder für die Verarbeitung Verantwortlicher ist die natürliche oder juristische
            Person, Behörde,
            Einrichtung oder andere Stelle, die allein oder gemeinsam mit anderen über die Zwecke und Mittel der
            Verarbeitung von
            personenbezogenen Daten entscheidet. Sind die Zwecke und Mittel dieser Verarbeitung durch das Unionsrecht
            oder das Recht
            der Mitgliedstaaten vorgegeben, so kann der Verantwortliche beziehungsweise können die bestimmten Kriterien
            seiner
            Benennung nach dem Unionsrecht oder dem Recht der Mitgliedstaaten vorgesehen werden.</bnb-paragraph>
        <bnb-headline level="3">h) Auftragsverarbeiter</bnb-headline>
        <bnb-paragraph>Auftragsverarbeiter ist eine natürliche oder juristische Person, Behörde, Einrichtung oder andere
            Stelle, die
            personenbezogene Daten im Auftrag des Verantwortlichen verarbeitet.</bnb-paragraph>
        <bnb-headline level="3">i) Empfänger</bnb-headline>
        <bnb-paragraph>Empfänger ist eine natürliche oder juristische Person, Behörde, Einrichtung oder andere Stelle,
            der personenbezogene
            Daten offengelegt werden, unabhängig davon, ob es sich bei ihr um einen Dritten handelt oder nicht.
            Behörden, die im
            Rahmen eines bestimmten Untersuchungsauftrags nach dem Unionsrecht oder dem Recht der Mitgliedstaaten
            möglicherweise
            personenbezogene Daten erhalten, gelten jedoch nicht als Empfänger.</bnb-paragraph>
        <bnb-headline level="3">j) Dritter</bnb-headline>
        <bnb-paragraph>Dritter ist eine natürliche oder juristische Person, Behörde, Einrichtung oder andere Stelle
            außer der betroffenen
            Person, dem Verantwortlichen, dem Auftragsverarbeiter und den Personen, die unter der unmittelbaren
            Verantwortung des
            Verantwortlichen oder des Auftragsverarbeiters befugt sind, die personenbezogenen Daten zu verarbeiten.
        </bnb-paragraph>
        <bnb-headline level="3">k) Einwilligung</bnb-headline>
        <bnb-paragraph>Einwilligung ist jede von der betroffenen Person freiwillig für den bestimmten Fall in
            informierter Weise und
            unmissverständlich abgegebene Willensbekundung in Form einer Erklärung oder einer sonstigen eindeutigen
            bestätigenden
            Handlung, mit der die betroffene Person zu verstehen gibt, dass sie mit der Verarbeitung der sie
            betreffenden
            personenbezogenen Daten einverstanden ist.</bnb-paragraph>
        <bnb-headline level="2">§ 12 Datensicherheit</bnb-headline>
        <bnb-paragraph>Wir haben geeignete technische und organisatorische Maßnahme ergriffen, die eine angemessene Sicherheit Ihrer
        personenbezogenen Daten gewährleisten. Das gilt insbesondere für den Schutz vor unbefugter oder unrechtmäßiger
        Verarbeitung und vor unbeabsichtigtem Verlust, unbeabsichtigter Zerstörung oder unbeabsichtigter Schädigung.</bnb-paragraph>
        <bnb-list ordered data-resources="[{paths: ['components/bnb-list/index.js']}]">
            <bnb-headline level="2">§ 13 Änderung der Datenschutzerklärung und Schlussbemerkungen</bnb-headline>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Diese Datenschutzerklärung kann von Zeit zu Zeit geändert werden, z.B. um sie rechtlichen Rahmenbedingungen oder
            tatsächlichen Gegebenheiten anzupassen. Alle Änderungen der Datenschutzerklärung werden von uns auf dieser Seite
            veröffentlicht.
            </bnb-list-item>
            <bnb-list-item data-resources="[{paths: ['components/bnb-list-item/index.js']}]">Diese Datenschutzerklärung ist auf dem Stand vom 25.02.2020.</bnb-list-item>
        </bnb-list>
    </bnb-paragraph>
</bnb-cms-text-icon>
<bnb-cms-newsletter-form data-resources="[{paths: ['components/cms/bnb-cms-newsletter-form/index.js']}]">
</bnb-cms-newsletter-form>
<bnb-cms-footer data-resources="[{paths: ['components/cms/bnb-cms-footer/index.js']}]"></bnb-cms-footer>