<style>
    body {
        margin: 0;
        background-color: #f6f6f6;
    }
</style>
<bnb-cms-navigation page="faqs" data-resources="[{paths: ['components/cms/bnb-cms-navigation/index.js']}]">
</bnb-cms-navigation>
<bnb-cms-stage heading="FAQ" image='{"src":"../_assets/img/stage.jpg", "title":"Stage Image", "objectFit":"cover", "objectPosition":"bottom", "srcset":[{"src":"../_assets/img/stage_300.jpeg", "width":300},
            {"src":"../_assets/img/stage_600.jpeg", "width":600},
            {"src":"../_assets/img/stage_1024.jpeg", "width":1024},
            {"src":"../_assets/img/stage_1440.jpeg", "width":1440},
            {"src":"../_assets/img/stage_1920.jpeg", "width":1920}]}' icon="iconsetPeopleMedium2"
    data-resources="[{paths: ['components/cms/bnb-cms-stage/index.js']}]">
    <bnb-headline slot="headline">Hier findest du Antworten auf häufig gestellte Fragen.</bnb-headline>
</bnb-cms-stage>
<bnb-cms-claims light heading="" headline="" data-resources="[{paths: ['components/cms/bnb-cms-claims/index.js']}]">
    <bnb-accordion checked slot="claims" id="BNB" label="Was ist Brand New Bundestag?">Brand New Bundestag (BNB) ist eine zivilgesellschaftliche Bewegung in Deutschland, die eine neue
    Generation mutiger und inspirierender Entscheidungsträger*innen sucht und sie dabei unterstützt in unsere Parlamente
    einzuziehen.
</bnb-accordion>
    <bnb-accordion slot="claims" id="wer" label="Wer steckt dahinter?">Initiator*innen der Bewegung sind Eva Thurnhofer, Alisa Wieland, Maximilian Oehl und Daniel Veldhoen. Unser Team wächst
    täglich und setzt sich aus vielen Engagierten zusammen. Diese teilen unsere Vision und den Wunsch nach Veränderung. Sie
    sind bereit, der Bewegung, den Kandidat*innen und dem operativen Team mit Rat und Tat beiseite zu stehen.</bnb-accordion>
    <bnb-accordion slot="claims" id="was" label="Was ist eure Vision?">Wir engagieren uns für eine Gesellschaft, in der Menschen gemeinsam mutig ihre Zukunft gestalten. Für eine inklusive
    Gesellschaft, die gerechte Chancen und Teilhabe für alle bietet. Für eine Gesellschaft, die lokales Handeln und globale
    Konsequenzen bewusst in einen schonenden Ausgleich bringt. Wir engagieren uns für eine europäische Gesellschaft, die
    lokale Identitäten achtet und offen ist für jeden Menschen, den unser Planet beheimatet. Eine europäische Gesellschaft,
    die den Begriff der Nachhaltigkeit nicht nur in ihrem Wirtschaften mit Leben füllt. Ein Europa, das auf Augenhöhe mit
    anderen Regionen eine nachhaltige Welt vorantreibt und stetig neu definiert.
</bnb-accordion>
    <bnb-accordion slot="claims" id="werte" label="Was sind eure Werte?">Wir engagieren uns für eine Gesellschaft, in der Menschen gemeinsam mutig ihre Zukunft gestalten. Für eine inklusive
    Gesellschaft, die gerechte Chancen und Teilhabe für alle bietet. Für eine Gesellschaft, die lokales Handeln und globale
    Konsequenzen bewusst in einen schonenden Ausgleich bringt. Wir engagieren uns für eine europäische Gesellschaft, die
    lokale Identitäten achtet und offen ist für jeden Menschen, den unser Planet beheimatet. Eine europäische Gesellschaft,
    die den Begriff der Nachhaltigkeit nicht nur in ihrem Wirtschaften mit Leben füllt. Ein Europa, das auf Augenhöhe mit
    anderen Regionen eine nachhaltige Welt vorantreibt und stetig neu definiert.
</bnb-accordion>
    <bnb-accordion slot="claims" id="forderungen" label="Was fordert ihr?">Wir fordern, dass Politik wieder für die gemacht wird, für die sie bestimmt ist: Für dich und mich. Für uns alle. Wir
    streben dabei eine Gesellschaft an, die demokratisch und inklusiv ausgerichtet ist, die nachhaltig denkt und dabei lokal
    wie global in Aktion tritt.
    <br>
    <br>
    Unsere konkreten Forderungen kannst du hier einsehen: <bnb-link value="Unsere Forderungen" url="/unsere-forderungen.html"
        data-resources="[{paths: ['components/bnb-link/index.js']}]"></bnb-link>
    <br>
    Hier geht es zur Vision, der wir uns verschrieben haben: <bnb-link value="Über Uns" url="/ueber-uns.html" data-resources="[{paths: ['components/bnb-link/index.js']}]">
    </bnb-link>
</bnb-accordion>
    <bnb-accordion slot="claims" id="entstehung" label="Wie sind die Forderungen entstanden?">Unsere Forderungen sind das Ergebnis vieler Gespräche und Diskussionen mit Expert*innen, Partner*innen und
    Ratgeber*innen aus ganz unterschiedlichen gesellschaftlichen Bereichen. Außerdem sind die Ergebnisse von Studien und
    Bürgerbefragungen sowie Forderungen von Wissenschaftler*innen in die Erstellung eingeflossen. Wir werden auch weiterhin
    so viele Meinungen wie möglich mit einbeziehen und unsere Forderungen ständig aktualisieren. Wenn du Anregungen für
    Themen oder zu sonstigen inhaltlichen Punkten hast, dann schreib uns gerne eine Mail an <a href="mailto:team@brandnewbundestag.de">team@brandnewbundestag.de</a>.
</bnb-accordion>
    <bnb-accordion slot="claims" id="teilnahme" label="Wie kann ich Teil der Bewegung werden?">Wenn du unsere Werte und unsere <bnb-link value="Vision" url="/ueber-uns.html" data-resources="[{paths: ['components/bnb-link/index.js']}]">
    </bnb-link> teilst, bist du eigentlich schon dabei. Du kannst Teil unserer Social Media
    Community werden, Themen diskutieren, Kandidat*innen promoten und vor allem darüber sprechen, sprechen, sprechen. Über
    Updates zu Themen informieren wir auch über unseren Newsletter. Wenn du dich aktiv engagieren möchtest, selbst Personen
    nominieren oder für sie crowdfunden möchtest, findest du <bnb-link value="hier" url="/aktiv-werden.html" data-resources="[{paths: ['components/bnb-link/index.js']}]">
    </bnb-link> alles weitere. Lasst uns gemeinsam einen Brand New
    Bundestag bauen!
</bnb-accordion>
    <bnb-accordion slot="claims" id="volunteer" label="Was kann ich tun?">Wir haben eine riesige Aufgabe vor uns – kein Update 2.0 sondern ein Update 2021 - und dabei kann jede*r mithelfen. Du
    hast Spaß daran, Leute zusammenzubringen? Du bist kreativ? Du brennst für Politik oder bist Expert*in in einem
    bestimmten Thema? Du möchtest dich gerne einbringen, aber weißt noch nicht wie? Dann melde dich bei uns und arbeite in
    einem unserer lokalen Teams oder auch deutschlandweit mit spannenden Menschen zusammen. Je nach Deiner zeitlichen
    Verfügbarkeit finden wir das passende Engagement! Wir freuen uns auf Dich!
</bnb-accordion>
    <bnb-accordion slot="claims" id="nominierung" label="Wen kann ich nominieren? ">Nominieren kannst du jede*n, die*der die Werte der Bewegung teilt, dazu bereit ist diese mit Leben zu füllen und sich
    dafür politisch engagiert. Außerdem muss die*der Kandidat*in die geltenden rechtlichen Vorschriften erfüllen. Gemeinsam
    suchen wir die Entscheidungsträger*innen der Zukunft!
</bnb-accordion>
    <bnb-accordion slot="claims" id="wahlen" label="Für welche Wahlen kann ich Kandidat*innen nominieren?">Wie unser Name schon verrät suchen wir vor allem Kandidat*innen für den neuen Bundestag, der am Sonntag, den 24. Oktober
    2021, gewählt werden wird.
    <br>
    <br>
    Du kannst aber grundsätzlich alle Menschen nominieren, die Deiner Ansicht nach unbedingt in die politischen
    Entscheidungszentralen gehören! Gemeinsam mit unseren jeweiligen Kandidierenden werden wir uns dann überlegen, welches
    Mandat für sie*ihn am besten passt.

</bnb-accordion>
    <bnb-accordion slot="claims" id="auswahl" label="Wie werden die Kandidat*innen ausgewählt?">Über unser Online-Formular kannst du zunächst jeden Menschen nominieren, den du in der Politik sehen willst. Wir werden
    jede*n Nominierte*n kontaktieren und fragen, ob sie*er überhaupt kandidieren möchte. Außerdem ermitteln wir gemeinsam,
    ob wir für die selben Werte stehen. Im letzten Schritt wird eine von uns zusammengestellte Jury aus den Nominierten die
    BNB-Kandidat*innen auswählen.

</bnb-accordion>
    <bnb-accordion slot="claims" id="parlament" label="Wie sorgt ihr dafür, dass die Kandidat*innen in die Parlamente kommen?">Diese Frage werden wir mit jede*r Kandidat*in individuell beantworten. Die Grundlage wird in jedem Schritt dorthin eine
    demokratische Mehrheit sein.
    <br>
    <br>
    Als erstes definieren wir mit jede*r Kandidat*in ihre konkreten Ziele. Darauf aufbauend entwickeln wir eine Strategie
    für eine erfolgreiche Wahlkampagne. Als Teil der Strategie ermitteln wir die Voraussetzungen im jeweiligen Wahlkreis der
    Kandidat*in. Dazu gehört die Zusammensetzung der Wählerschaft, die Aktivitäten der Parteien vor Ort etc.
    <br>
    <br>
    Zur Umsetzung der Strategie werden wir im nächsten Schritt jede*r Kandidat*in ein Unterstützungsteam zur Seite stellen.
    Dieses Team wird gemeinsam mit der Kandidat*in ein lokales Unterstützer*innennetzwerk knüpfen, Wahlstrategien
    entwickeln, Öffentlichkeitsarbeit betreiben, Plakate kleben etc.
    <br>
    <br>
    Ob die jeweilige Kandidat*in sich auf ein Direktmandat bewirbt oder anstrebt über eine Parteiliste in das Parlament
    einzuziehen, wird das Team in Abstimmung mit den jeweiligen Parteien entscheiden. Wir wollen uns dabei besonders darum
    bemühen, Bündnisse zwischen progressiven Kräften aus der Zivilgesellschaft sowie aus der Parteienlandschaft zu knüpfen.
    So könnte unser*e Nominiert*e z.B. als gemeinsame Direktkandidat*in dieses progressiven Bündnisses antreten - und so die
    Wahlchancen erhöhen.
    <br>
    <br>
    Am 24. Oktober 2021 wollen wir dann eine breite zivilgesellschaftliche Mehrheit davon überzeugen, unsere Kandidat*innen
    zu wählen!
</bnb-accordion>
    <bnb-accordion slot="claims" id="parteien" label="Wie arbeitet ihr mit Parteien zusammen?">Wir wollen das politische System updaten. Das geht am besten gemeinsam mit den politischen Parteien. Daher suchen wir
    die vertrauensvolle, konstruktive Zusammenarbeit. Voraussetzung für diese ist in jedem Fall ein Stück weit die
    Bereitschaft und der Wille der jeweiligen Partei, neue Wege zu gehen und sich so für die Zivilgesellschaft zu öffnen.
    Die konkrete Zusammenarbeit kann dann sehr unterschiedlich aussehen. Zum Beispiel können wir gemeinsam Wahlbündnisse
    schmieden, das Unterstützer*innen-Team vor Ort kann den Wahlkampf gemeinsam mit der jeweiligen Parteigliederung (bspw.
    Ortsverein/-verband) gestalten, oder man nutzt gemeinsame Netzwerke, um Ressourcen miteinander zu teilen.
</bnb-accordion>
    <bnb-accordion slot="claims" id="parteiausschluss" label="Arbeitet ihr mit allen Parteien zusammen?
">Wir arbeiten mit allen politischen Parteien zusammen, die sich uneingeschränkt zur freiheitlichen demokratischen
Grundordnung bekennen, die Würde eines jeden Menschen gleichsam achten und unser Vertrauen in die parlamentarische
Demokratie teilen. Parteien, die Faschist*innen in ihren Reihen dulden, gehören für uns naturgemäß nicht dazu. Natürlich
sollte die Partei für die progressiven Ziele unserer Kandidat*innen offen sein.
</bnb-accordion>
    <bnb-accordion slot="claims" id="organisationo" label="Wie ist die Bewegung organisiert?">Brand New Bundestag wurde von fünf Freund*innen initiiert, die in München und Berlin sitzen.
    Ziel ist der Aufbau eines breiten Unterstützerkreises von ehrenamtlichen Freiwilligenteams und eines hauptamtlichen
    Teams.
    <br>
    Dieses soll die Geschäftsstelle in Berlin besetzen. Hier wird der Ausbau des Unterstützernetzwerks, die
    Nominierungskampagne, Finanzierung und die Presse- und Öffentlichkeitsarbeit organisiert.
    Die ehrenamtlichen Unterstützer*innen werden vorwiegend unsere Kandidat*innen auf ihrem Weg in den Wahlkampf und von
    dort in den Bundestag begleiten.
    <br>
    Sie werden aber auch zentral und lokal das Netzwerk weiter ausbauen und die Idee von Brand New Bundestag in die
    Zivilgesellschaft tragen.
</bnb-accordion>
    <bnb-accordion slot="claims" id="teams" label="Wie sind die Freiwilligenteams organisiert?">Freiwilligenteams gibt es aktuell in Berlin und München. Ramona ist Deine Ansprechpartnerin in Berlin, Alisa in München.
    Beide koordinieren und organisieren unsere Aktionen und stellen sicher, dass es bei allem immer ausreichend Gelegenheit
    zum persönlichen Austausch gibt. Dazwischen findet die Kommunikation vor allem online über unser Slack statt.
    <br>
    <br>
    Jede*r kann einbringen, was sie*er will. Das kann im Bereich Öffentlichkeitsarbeit, Social Media,
    Organisationsentwicklung, Fundraising, Vernetzung o.ä. sein. Die Koordinator*innen schauen mit dir gemeinsam, welche
    Unterstützung gebraucht wird und wo du die größte Wirkung entfalten kannst.
    Wenn du Ideen hast, wie du dich einbringen möchtest, ein Freiwilligenteam in einer weiteren Stadt aufbauen möchtest oder
    sonstige Fragen hast, schreib uns einfach eine Email:
    <br>
    <br>
    Berlin: <a href="mailto:ramona@brandnewbundestag.de">ramona@brandnewbundestag.de</a>
    München: <a href="mailto:alisa@brandnewbundestag.de">alisa@brandnewbundestag.de</a>
    <br>
    <br>
    (Nachdem wir aktuell dabei sind, eine neue Organisation aufzubauen, bekommen wir viele Anfragen. Wir melden uns jedoch
    so schnell wie möglich zurück)
</bnb-accordion>
    <bnb-accordion slot="claims" id="kontakt" label="Wo seid ihr zu finden?">Unser Team arbeitet grundsätzlich dezentral und digital. In den kommenden Monaten werden wir eine Geschäftsstelle in
    Berlin aufbauen. Seinen Sitz hat der Verein in München, die Genossenschaft in Hamburg.
    <br>
    <br>
    Kontaktieren kannst du uns unter <a href="mailto:team@brandnewbundestag.de">team@brandnewbundestag.de</a>
</bnb-accordion>
    <bnb-accordion slot="claims" id="idee" label="Wie kamt ihr auf die Idee?">Am Anfang stand die Erkenntnis, dass sich etwas verändern muss, dass unser politisches System ein Upgrade braucht. Vor
    allem angesichts der aktuellen sozialen und umweltpolitischen Herausforderungen wünschen wir uns Politiker*innen in den
    Parlamenten, die willens und in der Lage sind, unsere Zukunft progressiv zu gestalten und zu verändern.
    <br>
    Die meisten von uns sind schon lange zivilgesellschaftlich engagiert. Immer wieder waren wir an die Grenzen des
    politischen Systems gestoßen, wenn es um die Umsetzung unserer Anliegen ging. Das dürfte in Teilen unsere Motivation
    erklären, einen “Kanal” zwischen engagierter Zivilgesellschaft und institutionalisierter Politik zu schaffen.
    <br>
    Die konkrete Idee haben wir tatsächlich in Teilen einem gewissen großen amerikanischen Streamingdienst zu verdanken. Als
    die Doku “Knock Down the House” über Alexandria Ocasio-Cortez (“AOC”) erschien, inspirierte das unser Gründer*innenteam
    dazu, sich zusammenzusetzen und gemeinsam zu überlegen, wie der Ansatz von “Brand New Congress” bzw. “Justice Democrats”
    in Deutschland umgesetzt werden könnte.
</bnb-accordion>
    <bnb-accordion slot="claims" id="diversity" label="Wie divers seid ihr?">Das Gründer*innenteam besteht aus zwei Frauen und zwei Männern. Wir alle sind in Westdeutschland geboren und
    aufgewachsen.
    Da wir Brand New Bundestag als zivilgesellschaftliche Graswurzelbewegung initiiert haben, ist uns Diversität besonders
    wichtig. Der aktuelle Kreis an Unterstützer*innen ist west- und ostdeutsch, POC, queer, mit und ohne
    Migrationserfahrung, mit und ohne körperliche Behinderung.
    <br>
    <br>
    Im Aufbau unserer Organisation, der Freiwilligenteams und unseres Netzwerks achten wir darauf, dass Brand New Bundestag
    immer diverser wird.
    <br>
    <br>
    Dabei hilft uns unter anderem das Projekt “Volk und Vertreter” der Süddeutschen Zeitung, welches wir als Gradmesser
    verstehen. <bnb-link value="Zum Artikel (externer Link)" target="_blank"  url="https://projekte.sueddeutsche.de/artikel/politik/bundestag-diese-abgeordneten-fehlen-e291979/" data-resources="[{paths: ['components/bnb-link/index.js']}]">
    </bnb-link>
    <br>
    <br>
    Solltest du Fragen oder Anregungen zum Thema Diversität haben, kannst du uns unter <a href="mailto:diversity@brandnewbundestag.de">diversity@brandnewbundestag.de</a> eine Nachricht schreiben!
</bnb-accordion>
    <bnb-accordion slot="claims" id="beratung" label="Wer berät euch?">Im Grunde berät uns jede*r, die*der mit uns in den Dialog tritt. Das ist die Idee unserer Bewegung. Wir freuen uns über
    jede Meinung und jedes Feedback. Ansonsten sind wir an keine politischen oder anderen Berater*innen gebunden - außer bei
    Bedarf zu rechtlichen oder sonstigen organisatorischen/buchhalterischen Fragen.
</bnb-accordion>
    <bnb-accordion slot="claims" id="entscheidungen" label="Wer entscheidet bei euch was?">Die zentralen organisatorischen Entscheidungen fällen wir aktuell gemeinsam im Kernteam, das aus vier Personen besteht.
    Als rechtliche Trägerstruktur dient uns zum einen unser Verein, der von acht Personen gegründet wurde und dem ein
    Vorstand von drei Personen - momentan Eva, Daniel und Max - vorsteht. Zum anderen organisieren wir unsere
    nicht-gemeinnützigen Aktivitäten genossenschaftlich-demokratisch.
    <br>
    <br>
    Um qualifizierte Entscheidungen treffen zu können, greifen wir auf unser großes Netzwerk an Partnern, Unterstützern und
    unterschiedlichen zivilgesellschaftlichen Gruppen zurück.
    <br>
    <br>
    Unsere Kandidierenden sollen von einer von uns noch zu formenden Jury ausgewählt werden, die sich aus einer diversen
    Gruppe von zivilgesellschaftlichen Akteur*innen zusammensetzen soll (siehe auch Frage 18 unten).
    <br>
    <br>
    Wir streben nach Transparenz in unseren Entscheidungsprozessen. Jeder Mensch, der bei BNB mitmacht, kann eigene Ideen
    einbringen und sich aktiv engagieren. Aber natürlich müssen auch unsere BNB Aktivitäten koordiniert werden, vor allem
    weil wir sonst die großen Aufgaben, wie die eine Kampagne erfolgreich umzusetzen, nicht schaffen würden. Hierfür haben
    wir uns auf flache Hierarchien mitsamt klarer Entscheidungsstrukturen geeinigt.
</bnb-accordion>
    <bnb-accordion slot="claims" id="global" label="Gibt es Brand New Bundestag auch in anderen Ländern?">Die Grundidee stammt aus den USA. Unsere Freund*innen von Brand New Congress haben bereits erfolgreich eine Reihe von
    progressiven Kandidat*innen in das amerikanische Abgeordnetenhaus gebracht. Ein ähnliches Projekt, das sich auf die
    Partei der Demokraten in den USA bezieht, ist Justice Democrats.
    <br>
    <br>
    Ein weiteres Projekt, das die Zivilgesellschaft mit der institutionalisierten Politik zu verknüpfen sucht, gibt es in
    Großbritannien in Gestalt von “Momentum”, das eng mit der Labour-Partei zusammenarbeitet. In Spanien gibt es die
    “Podemos”-Bewegung, die als Graswurzel-Bewegung mittlerweile zu einer politischen Partei geworden und als solche im
    Parlament vertreten ist.
</bnb-accordion>
    <bnb-accordion slot="claims" id="graswurzel" label="Was ist eine Graswurzelbewegung?">Unsere Bewegung wurde von Privatpersonen initiiert und wird auch von solchen getragen. Dabei ist es uns wichtig, dass
    jede*r eine Stimme hat und sich einbringen kann. Wir schaffen keine starren Strukturen und möchten unbürokratisch und
    schnell wirken. Wir möchten möglichst viele Menschen aus der Gesellschaft - von unten getragen - erreichen und aus
    diesem starken Netzwerk heraus “bottom-up” die Politik verändern.
</bnb-accordion>
</bnb-cms-claims>
<bnb-cms-newsletter-form data-resources="[{paths: ['components/cms/bnb-cms-newsletter-form/index.js']}]">
</bnb-cms-newsletter-form>
<bnb-cms-footer data-resources="[{paths: ['components/cms/bnb-cms-footer/index.js']}]"></bnb-cms-footer>