<style>
    body {
        margin: 0;
        background-color: #f6f6f6;
    }
</style>
<bnb-cms-navigation data-resources="[{paths: ['components/cms/bnb-cms-navigation/index.js']}]"></bnb-cms-navigation>
<bnb-cms-stage heading="Band New Bundestag" image='{"src":"../_assets/img/stage.jpg", "title":"Stage Image", "objectFit":"cover", "objectPosition":"bottom", "srcset":[{"src":"../_assets/img/stage_300.jpeg", "width":300},
            {"src":"../_assets/img/stage_600.jpeg", "width":600},
            {"src":"../_assets/img/stage_1024.jpeg", "width":1024},
            {"src":"../_assets/img/stage_1440.jpeg", "width":1440},
            {"src":"../_assets/img/stage_1920.jpeg", "width":1920}]}'
    button-left='{"version":"primary", "value":"Ich bin dabei!", "url":"volunteers.html"}'
    button-right='{"version":"secondary", "value":"Über uns", "url":"about-us.html"}' icon="iconsetNoSpacing"
    data-resources="[{paths: ['components/cms/bnb-cms-stage/index.js']}]">Unsere Demokratie braucht  eine neue
    Generation von
    Politiker*innen. Bring sie mit uns 2021 in den
    Bundestag!</bnb-cms-stage>
<bnb-cms-text-icon icon="iconsetNoSpacing" heading="Unsere Mission" color="purple"
    button='{"value":"Jetzt mitmachen!", "url":"https://www.google.com", "target":"_blank", "version":"primary-purple"}'
    data-resources="[{paths: ['components/cms/bnb-cms-text-icon/index.js']}]">
    Wir bringen eine neue Generation von Politiker*innen in die
    Parlamente. Für echte Demokratie, Klimaschutz, soziale Gerechtigkeit
    und nachhaltiges Wirtschaften in einem vereinten Europa.
</bnb-cms-text-icon>
<bnb-cms-text-text heading-left="Die Herausforderung" heading-right="Die Herausforderung"
    data-resources="[{paths: ['components/cms/bnb-cms-text-text/index.js']}]">
    <p slot="left">
        Wir bringen eine neue Generation von Politiker*innen in die
        Parlamente. Für echte Demokratie, Klimaschutz, soziale
        Gerechtigkeit und nachhaltiges Wirtschaften in einem vereinten
        Europa.
    </p>
    <p slot="right">
        Wir bringen eine neue Generation von Politiker*innen in die
        Parlamente. Für echte Demokratie, Klimaschutz, soziale
        Gerechtigkeit und nachhaltiges Wirtschaften in einem vereinten
        Europa.
    </p>
</bnb-cms-text-text>
<bnb-cms-info-box heading="Wie funktioniert Brand New Bundestag?"
    data-resources="[{paths: ['components/cms/bnb-cms-info-box/index.js']}]">
    <bnb-bullet-list>
        <bnb-bullet-item slot="list" icon="bildmarke">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Beatae incidunt at qui dolores laudantium vitae officiis
            aliquid eveniet magni accusamus, iure, dolore tempora. Nisi
            delectus nemo et est fuga eos deleniti molestiae quia vitae
            cumque officiis
        </bnb-bullet-item>
        <bnb-bullet-item slot="list" icon="bildmarke">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Beatae incidunt at qui dolores laudantium vitae officiis
            aliquid eveniet magni accusamus, iure, dolore tempora. Nisi
            delectus nemo et est fuga eos deleniti molestiae quia vitae
            cumque officiis
        </bnb-bullet-item>
        <bnb-bullet-item slot="list" icon="bildmarke">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Beatae incidunt at qui dolores laudantium vitae officiis
            aliquid eveniet magni accusamus, iure, dolore tempora. Nisi
            delectus nemo et est fuga eos deleniti molestiae quia vitae
            cumque officiis
        </bnb-bullet-item>
        <bnb-bullet-item slot="list" icon="bildmarke">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Beatae incidunt at qui dolores laudantium vitae officiis
            aliquid eveniet magni accusamus, iure, dolore tempora. Nisi
            delectus nemo et est fuga eos deleniti molestiae quia vitae
            cumque officiis
        </bnb-bullet-item>
    </bnb-bullet-list>
</bnb-cms-info-box>
<bnb-cms-text-image heading="Unsere Forderungen" image='{"src":"../_assets/img/testbild.jpg", "title":"Testbild 16:9", "objectFit":"cover", "objectPosition":"center", "srcset":[{"src":"../_assets/img/testbild_300.jpeg", "width":300},
		    {"src":"../_assets/img/testbild_600.jpeg", "width":600},
		    {"src":"../_assets/img/testbild_1024.jpeg", "width":1024},
		    {"src":"../_assets/img/testbild_1440.jpeg", "width":1440},
		    {"src":"../_assets/img/testbild_1920.jpeg", "width":1920}]}'
    data-resources="[{paths: ['components/cms/bnb-cms-text-image/index.js']}]">
    Wir fordern dass Politik wieder für die gemacht wird, für die sie
    bestimmt ist: für Dich, für mich, für alle.
    <bnb-paragraph slot="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
        invidunt ut labore et dolore
        magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
        gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor.</bnb-paragraph>
</bnb-cms-text-image>
<bnb-cms-text-image horizontal heading="Unsere Forderungen" image='{"src":"../_assets/img/stage.jpg", "title":"Testbild 16:9", "objectFit":"cover", "objectPosition":"center", "srcset":[{"src":"../_assets/img/testbild_300.jpeg", "width":300},
		    {"src":"../_assets/img/stage_600.jpeg", "width":600},
		    {"src":"../_assets/img/stage_1024.jpeg", "width":1024},
		    {"src":"../_assets/img/stage_1440.jpeg", "width":1440},
		    {"src":"../_assets/img/stage_1920.jpeg", "width":1920}]}'
    data-resources="[{paths: ['components/cms/bnb-cms-text-image/index.js']}]">
    Test horizontales Bild, lorem ipsum
    <bnb-paragraph slot="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
        invidunt ut labore et dolore
        magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
        gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor.</bnb-paragraph>
</bnb-cms-text-image>
<bnb-cms-newsletter-form data-resources="[{paths: ['components/cms/bnb-cms-newsletter-form/index.js']}]">
</bnb-cms-newsletter-form>
<bnb-cms-footer data-resources="[{paths: ['components/cms/bnb-cms-footer/index.js']}]"></bnb-cms-footer>