@import 'node_modules/@biotope/element/lib/host.mixin';
@import '../../../resources/scss/styles';

@include host('bnb-cms-supporter-slider') {
	@include cmsComponents();
	display: block;
	height: 600px;
	position: relative;

	@include slotted('bnb-supporter-slide') {
		position: absolute;
		transform: translateX(600%);
		transition: transform 0.5s ease-in-out;
		opacity: 0;
		transition: opacity 2s ease-in-out;
	}
	@include slotted('bnb-supporter-slide.inactive') {
		position: absolute;
		transform: translateX(-150%);
		transition: transform 5s ease-in-out;
		opacity: 0;
		transition: opacity 2s ease-in-out;
	}
	@include slotted('bnb-supporter-slide.active') {
		margin-top: 20px;
		transform: translateX(0%);
		transition: transform 0.5s ease-in-out;
		opacity: 1;
		// transition: opacity 0.5s ease-in-out;
	}
}
