@import 'node_modules/@biotope/element/lib/host.mixin';
@import '../../resources/scss/styles';

@include host('bnb-bullet-item') {
	display: block;

	.item__wrapper {
		display: flex;
		flex-direction: column;
		@include fontCopyInfo();
		color: white;
		width: 300px;
	}

	// bnb-icon {
	img {
		max-width: 100px;
		height: 100px;
		margin: 50px auto;
	}
}
