@import 'node_modules/@biotope/element/lib/host.mixin';
@import '../../resources/scss/styles';

@include host('bnb-bullet-item') {
	display: block;
	width: 100%;

	@include fromBreakpointM {
		width: 40vw;
	}
	@include fromBreakpointL {
		width: 20vw;
	}

	@include fromBreakpointMax {
		max-width: 300px;
	}

	.item__wrapper {
		display: flex;
		flex-direction: column;
		@include fontCopyInfo();
		color: $purple;
		margin-top: 70px;
	}

	bnb-icon {
		height: 150px;
		width: 150px;
		margin: 30px auto;
		fill: $purple;
	}
}
