@import 'node_modules/@biotope/element/lib/host.mixin';
@import '../../resources/scss/styles';

@include host('bnb-nomination-form') {
	display: block;

	iframe {
        height: 7100px;

        @media screen and (min-width: 450px) {
            height: 6800px;
        }

        @media screen and (min-width: 500px) {
            height: 6700px;
        }

        @media screen and (min-width: 600px) {
            height: 6000px;
        }

        @include fromBreakpointM {
            height: 5600px
        }
        @include fromBreakpointMax {
            height: 5450px
        }
	}
}
