@import 'node_modules/@biotope/element/lib/host.mixin';
@import '../../../resources/scss/styles';

@include host('bnb-cms-text-icon') {
	display: flex;
	flex-direction: column;
	justify-content: center;

	@include slotted('bnb-headline') {
		text-align: start;
		margin: 0 $margin-left-right-small;

		@include fromBreakpointM {
			margin: 0 $margin-left-right-medium;
		}

		@include fromBreakpointMax {
			width: 100%;
			max-width: $content-max-width;
			padding-left: $margin-left-right-medium;
			margin: 0 auto;
			justify-content: flex-start;
		}
	}

	.text-icon,
	.button {
		display: flex;
		justify-content: center;
		flex-direction: column;
		margin: 0 $margin-left-right-small;

		&--right {
			margin: 0 auto;
			width: 100%;
		}
		@include slotted('bnb-icon') {
			height: 100%;
			width: 100%;
		}

		@include fromBreakpointM {
			margin: 0 $margin-left-right-medium;
			&--right {
				margin: 0;
				display: flex;
				justify-content: flex-end;
				align-self: flex-end;
			}
		}

		@include fromBreakpointMax {
			flex-direction: row;
			max-width: $content-max-width;
			margin: 0 auto;
			padding: 0 $margin-left-right-medium;

			&--left {
				width: 60%;
			}

			&--right {
				width: 40%;
			}
		}
	}

	.button {
		margin: $margin-top-bottom-large $margin-left-right-small;

		@include fromBreakpointM {
			@include slotted('bnb-button-cta') {
				width: 50%;
				align-self: center;
			}
		}

		@include fromBreakpointMax {
			margin: $margin-top-bottom-large auto;
			width: $content-max-width;
			justify-content: flex-start;
			@include slotted('bnb-button-cta') {
				width: initial;
			}
		}
	}
}
