<bnb-cms-partner heading="Unsere partner" data-resources="[{paths: ['components/cms/bnb-cms-partner/index.js']}]">
    <bnb-paragraph>Nur gemeinsam können wir ein Update unserer Politik erreichen. Daher bauen wir auf Kooperationen mit
        Partner*innen aus
        der Zivilgesellschaft, Wissenschaft und Politik. Du hast Interesse an einer Zusammenarbeit? Dann melde dich
        unter
        <a href="mailto:netzwerk@brandnewbundestag.de">netzwerk@brandnewbundestag.de</a>.
    </bnb-paragraph>
</bnb-cms-partner>